openapi: 3.1.0

info:
  title: Omnibase REST API
  version: 0.19.0
  description: |
    Self-hostable Backend-as-a-Service providing database management, authentication, payments, storage, and email services.

    ## Features
    - **Database**: PostgreSQL with RLS and migrations
    - **Authentication**: Ory Kratos integration with session management
    - **Payments**: Stripe integration with version-controlled billing configs
    - **Storage**: S3-compatible object storage with RLS
    - **Email**: Transactional email service
    - **Permissions**: Fine-grained access control

    ## Authentication
    Most endpoints require authentication via session cookies or JWT tokens.
    Use the appropriate security scheme based on the endpoint requirements.
  contact:
    name: Omnibase Support
    url: https://omnibase.dev/support
    email: support@omnibase.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://omnibase.dev/terms

servers:
  - url: https://api.omnibase.tech
    description: Production server

components:
  securitySchemes:
    CookieAuth:
      type: apiKey
      in: cookie
      name: ory_kratos_session
      description: |
        Session cookie authentication. Cookie name: `ory_kratos_session`.
        Automatically set by browser after Kratos login.
    
    SessionTokenAuth:
      type: apiKey
      in: header
      name: X-Session-Token
      description: |
        Kratos session JWT token. Alternative to cookie authentication for
        non-browser clients. Obtain from Kratos after login.
    
    ServiceKeyAuth:
      type: apiKey
      in: header
      name: X-Service-Key
      description: |
        Service-to-service authentication key for backend operations. When
        used with tenant endpoints, must include X-Tenant-ID header.

paths:
  # Auth endpoints
  /api/v1/auth/session:
    $ref: './paths/auth.yaml#/paths/~1api~1v1~1auth~1session'
  
  /api/v1/auth/identity:
    $ref: './paths/auth.yaml#/paths/~1api~1v1~1auth~1identity'
  
  /api/v1/auth/logout:
    $ref: './paths/auth.yaml#/paths/~1api~1v1~1auth~1logout'
  
  /api/v1/auth/whoami:
    $ref: './paths/auth.yaml#/paths/~1api~1v1~1auth~1whoami'
  
  /api/v1/auth/active-tenant:
    $ref: './paths/auth.yaml#/paths/~1api~1v1~1auth~1active-tenant'
  
  /api/v1/auth/tenants:
    $ref: './paths/auth.yaml#/paths/~1api~1v1~1auth~1tenants'
  
  /api/v1/auth/users:
    $ref: './paths/auth.yaml#/paths/~1api~1v1~1auth~1users'
  
  # Database endpoints
  /api/v1/database/migrations:
    $ref: './paths/database.yaml#/paths/~1api~1v1~1database~1migrations'

  /api/v1/database/typegen:
    $ref: './paths/database.yaml#/paths/~1api~1v1~1database~1typegen'

  # Email endpoints
  /api/v1/email/templates:
    $ref: './paths/email.yaml#/paths/~1api~1v1~1email~1templates'
  
  /api/v1/email/templates/{type}:
    $ref: './paths/email.yaml#/paths/~1api~1v1~1email~1templates~1{type}'
  
  # Payments endpoints
  /api/v1/payments/checkout:
    $ref: './paths/payments.yaml#/paths/~1api~1v1~1payments~1checkout'
  
  /api/v1/payments/portal:
    $ref: './paths/payments.yaml#/paths/~1api~1v1~1payments~1portal'
  
  /api/v1/payments/usage:
    $ref: './paths/payments.yaml#/paths/~1api~1v1~1payments~1usage'

  /api/v1/payments/invoices:
    $ref: './paths/payments.yaml#/paths/~1api~1v1~1payments~1invoices'

  /api/v1/payments/invoices/{invoice_id}:
    $ref: './paths/payments.yaml#/paths/~1api~1v1~1payments~1invoices~1{invoice_id}'

  /api/v1/payments/invoices/{invoice_id}/items:
    $ref: './paths/payments.yaml#/paths/~1api~1v1~1payments~1invoices~1{invoice_id}~1items'

  /api/v1/payments/invoices/{invoice_id}/items/price:
    $ref: './paths/payments.yaml#/paths/~1api~1v1~1payments~1invoices~1{invoice_id}~1items~1price'

  /api/v1/payments/invoices/{invoice_id}/finalize:
    $ref: './paths/payments.yaml#/paths/~1api~1v1~1payments~1invoices~1{invoice_id}~1finalize'

  # Permissions endpoints
  /api/v1/permissions/check:
    $ref: './paths/permissions.yaml#/paths/~1api~1v1~1permissions~1check'
  
  /api/v1/permissions/relationships:
    $ref: './paths/permissions.yaml#/paths/~1api~1v1~1permissions~1relationships'
  
  /api/v1/permissions/namespaces:
    $ref: './paths/keto_namespaces.yaml#/paths/~1api~1v1~1permissions~1namespaces'
  
  # Storage endpoints
  /api/v1/storage/upload:
    $ref: './paths/storage.yaml#/paths/~1api~1v1~1storage~1upload'
  
  /api/v1/storage/download:
    $ref: './paths/storage.yaml#/paths/~1api~1v1~1storage~1download'
  
  /api/v1/storage/object:
    $ref: './paths/storage.yaml#/paths/~1api~1v1~1storage~1object'

  /api/v1/storage/make-public:
    $ref: './paths/storage.yaml#/paths/~1api~1v1~1storage~1make-public'

  # Stripe endpoints
  /api/v1/stripe/schema:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1schema'
  
  /api/v1/stripe/config:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1config'
  
  /api/v1/stripe/admin/config:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1config'
  
  /api/v1/stripe/admin/config/history:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1config~1history'
  
  /api/v1/stripe/admin/config/validate:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1config~1validate'
  
  /api/v1/stripe/admin/config/pull:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1config~1pull'
  
  /api/v1/stripe/admin/config/archive-all:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1config~1archive-all'
  
  /api/v1/stripe/config/prices/{price_id}:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1config~1prices~1{price_id}'

  /api/v1/stripe/config/prices/{price_id}/calculate:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1config~1prices~1{price_id}~1calculate'

  /api/v1/stripe/config/products/{product_id}:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1config~1products~1{product_id}'

  /api/v1/stripe/config/meters/{meter_id}:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1config~1meters~1{meter_id}'

  /api/v1/stripe/convert/stripe-id/{stripe_id}:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1convert~1stripe-id~1{stripe_id}'

  /api/v1/stripe/admin/webhooks:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1webhooks'

  /api/v1/stripe/admin/enterprise/apply-template:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1enterprise~1apply-template'

  /api/v1/stripe/admin/enterprise/apply-custom:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1enterprise~1apply-custom'

  /api/v1/stripe/admin/enterprise/prices/by-template/{template}:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1enterprise~1prices~1by-template~1{template}'

  /api/v1/stripe/admin/enterprise/prices/by-id/{enterprise_id}:
    $ref: './paths/stripe.yaml#/paths/~1api~1v1~1stripe~1admin~1enterprise~1prices~1by-id~1{enterprise_id}'

  # Tenant endpoints
  /api/v1/tenants:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants'

  /api/v1/tenants/by-id/{tenant_id}:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1by-id~1{tenant_id}'

  /api/v1/tenants/by-stripe-customer/{stripe_customer_id}:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1by-stripe-customer~1{stripe_customer_id}'

  /api/v1/tenants/switch-active:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1switch-active'
  
  /api/v1/tenants/users:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1users'
  
  /api/v1/tenants/roles:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1roles'
  
  /api/v1/tenants/roles/{role_id}:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1roles~1{role_id}'
  
  /api/v1/tenants/roles/definitions:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1roles~1definitions'
  
  /api/v1/tenants/subscriptions:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1subscriptions'

  /api/v1/tenants/subscriptions/{config_price_id}:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1subscriptions~1{config_price_id}'

  /api/v1/tenants/invites:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1invites'
  
  /api/v1/tenants/invites/accept:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1invites~1accept'
  
  /api/v1/tenants/jwt:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1jwt'
  
  /api/v1/tenants/billing-status:
    $ref: './paths/tenants.yaml#/paths/~1api~1v1~1tenants~1billing-status'

externalDocs:
  description: OpenAPI Specification
  url: https://swagger.io/specification/

tags:
  - name: V1 Auth
    description: Authentication and session management endpoints
  - name: V1 Configuration
    description: Configuration management endpoints
  - name: V1 Database
    description: Database migration and management endpoints
  - name: V1 Email
    description: Email sending endpoints
  - name: V1 Keto
    description: Keto namespace management endpoints
  - name: V1 Payments
    description: Stripe payment and checkout endpoints
  - name: V1 Permissions
    description: Permission checking and relationship management endpoints
  - name: V1 Storage
    description: File storage and management endpoints
  - name: V1 Stripe
    description: Stripe configuration and management endpoints
  - name: V1 Tenants
    description: Tenant organization management endpoints
  - name: V1 Webhooks
    description: Webhook configuration and management endpoints