openapi: 3.1.0
info:
  title: Omnibase REST API
  version: 0.19.1
  description: |
    Self-hostable Backend-as-a-Service providing database management, authentication, payments, storage, and email services.

    ## Features
    - **Database**: PostgreSQL with RLS and migrations
    - **Authentication**: Ory Kratos integration with session management
    - **Payments**: Stripe integration with version-controlled billing configs
    - **Storage**: S3-compatible object storage with RLS
    - **Email**: Transactional email service
    - **Permissions**: Fine-grained access control

    ## Authentication
    Most endpoints require authentication via session cookies or JWT tokens.
    Use the appropriate security scheme based on the endpoint requirements.
  contact:
    name: Omnibase Support
    url: https://omnibase.dev/support
    email: support@omnibase.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://omnibase.dev/terms
servers:
  - url: https://api.omnibase.tech
    description: Production server
tags:
  - name: V1 Auth
    description: Authentication and session management endpoints
  - name: V1 Configuration
    description: Configuration management endpoints
  - name: V1 Database
    description: Database migration and management endpoints
  - name: V1 Email
    description: Email sending endpoints
  - name: V1 Keto
    description: Keto namespace management endpoints
  - name: V1 Payments
    description: Stripe payment and checkout endpoints
  - name: V1 Permissions
    description: Permission checking and relationship management endpoints
  - name: V1 Storage
    description: File storage and management endpoints
  - name: V1 Stripe
    description: Stripe configuration and management endpoints
  - name: V1 Tenants
    description: Tenant organization management endpoints
  - name: V1 Webhooks
    description: Webhook configuration and management endpoints
externalDocs:
  description: OpenAPI Specification
  url: https://swagger.io/specification/
paths:
  /api/v1/auth/session:
    get:
      operationId: getSession
      summary: Get current session
      description: |
        Returns the current authenticated user's session including identity and tenant information.

        ## Session Data
        - Session metadata (ID, expiry, authentication methods)
        - Identity information (user ID, traits like email, name)
        - Active tenant context (if user has tenant membership)

        ## Authentication
        Requires valid session via Cookie or X-Session-Token header.
      tags:
        - V1 Auth
      security:
        - CookieAuth: []
          SessionTokenAuth: []
      responses:
        '200':
          description: Session retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/auth/identity:
    get:
      operationId: getIdentity
      summary: Get current identity
      description: |
        Returns the current authenticated user's identity information (traits like email, name).

        ## Identity Data
        - User ID (unique identifier)
        - Traits (email, first name, last name based on identity schema)
        - Schema ID
        - Created/updated timestamps

        ## Use Case
        Lighter alternative to full session when you only need user profile data.
      tags:
        - V1 Auth
      security:
        - CookieAuth: []
          SessionTokenAuth: []
      responses:
        '200':
          description: Identity retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/auth/logout:
    post:
      operationId: logout
      summary: Logout user
      description: |
        Creates a Kratos logout flow and returns the logout URL for browser redirect.

        ## Logout Process
        1. Request this endpoint to get logout URL
        2. Redirect browser to the returned logout_url
        3. Session will be invalidated and user logged out

        ## Cookie Cleanup
        The logout URL handles clearing session cookies automatically.
      tags:
        - V1 Auth
      security:
        - CookieAuth: []
          SessionTokenAuth: []
      responses:
        '200':
          description: Logout flow created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LogoutResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/auth/whoami:
    get:
      operationId: whoAmI
      summary: Check authentication status
      description: |
        Lightweight endpoint to check if the user is authenticated.

        ## Response
        Returns boolean authentication status and user ID if authenticated.

        ## Use Case
        Quick auth checks for route guards without fetching full session data.
      tags:
        - V1 Auth
      security:
        - CookieAuth: []
          SessionTokenAuth: []
      responses:
        '200':
          description: Authentication status checked
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WhoAmIResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/auth/active-tenant:
    get:
      operationId: getActiveTenant
      summary: Get active tenant
      description: |
        Returns the full tenant object for the user's currently active tenant.

        ## Tenant Context
        Users can be members of multiple tenants but only one is active at a time.
        The active tenant determines which resources and data the user can access.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID header

        ## Use Case
        Determine which tenant context to use for API calls and data filtering.
      tags:
        - V1 Auth
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: User ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
          SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Active tenant retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ActiveTenantResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/auth/tenants:
    get:
      operationId: listTenants
      summary: List user's tenants
      description: |
        Returns all tenants the user is a member of with their active status.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID header

        ## Tenant Memberships
        Users can be members of multiple tenants. Each membership has:
        - Active status (only one tenant can be active at a time)
        - Full tenant information (ID, name, type, etc.)

        ## Use Case
        Display tenant switcher UI or list all organizations the user belongs to.
      tags:
        - V1 Auth
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: User ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
          SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Tenants retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ListTenantsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/auth/users:
    post:
      operationId: createUser
      summary: Create new user
      description: |
        Creates a new user identity via Kratos admin API with email/password credentials.

        ## User Creation
        - Creates Kratos identity with provided traits (email, name)
        - Sets up password authentication credentials
        - Returns the created identity information

        ## Use Case
        Administrative user creation endpoint for onboarding flows or user management.

        ## Authentication
        This is an admin endpoint that requires service key authentication.
      tags:
        - V1 Auth
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '200':
          description: User created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/KratosIdentity'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/database/migrations:
    post:
      operationId: uploadDatabaseMigrations
      summary: Upload database migrations
      description: |
        Uploads SQL migration files and applies them to the user's PostgreSQL database.

        ## Authentication
        Requires JWT token (typically used by CLI tools, not browser sessions).

        ## Migration Format
        Upload a zip file containing SQL files named like: `001-seed.sql`, `002-rls.sql`, etc.
        Files are automatically renamed to golang-migrate format: `001_seed.up.sql`, `002_rls.up.sql`.

        ## Use Cases
        - CLI migration uploads via `omnibase db migration push`
        - CI/CD pipeline integrations
        - Programmatic schema management
      tags:
        - V1 Configuration
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - migrations
              properties:
                migrations:
                  type: string
                  format: binary
                  description: Zip file containing SQL migration files
      responses:
        '200':
          description: Migrations applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationSuccessResponse'
        '400':
          description: No migrations zip file provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/database/migrations/status:
    get:
      operationId: getDatabaseMigrationStatus
      summary: Get applied migration status
      description: |
        Returns the migrations recorded in the `migrations.schema_migrations`
        tracking table, ordered by version descending. A `dirty` migration
        indicates a previous run failed partway and needs manual intervention.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - Inspect applied migrations via `omnibase db migrate status`
        - Detect dirty/failed migration state in CI
      tags:
        - V1 Configuration
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Applied migrations retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AppliedMigration'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/database/migrations/down:
    post:
      operationId: rollbackDatabaseMigrations
      summary: Roll back database migrations
      description: |
        Rolls back the last N migrations using the supplied migration files.

        **WARNING: Rolling back migrations can be destructive.** Down migrations
        may drop tables or columns and permanently delete data.

        ## Authentication
        Requires service key authentication (typically used by CLI tools).

        ## Migration Format
        Upload a zip file containing the SQL migration files (the same set used
        to apply the migrations). Files are renamed to golang-migrate format so
        the matching `*.down.sql` files can be executed.

        ## Use Cases
        - Roll back migrations via `omnibase db migrate down`
        - Undo a faulty migration during development
      tags:
        - V1 Configuration
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - steps
                - migrations
              properties:
                steps:
                  type: integer
                  minimum: 1
                  description: Number of migrations to roll back
                  example: 1
                migrations:
                  type: string
                  format: binary
                  description: Zip file containing SQL migration files
      responses:
        '200':
          description: Migrations rolled back successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Rolled back 1 migration(s)
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/database/typegen:
    get:
      operationId: generateDatabaseTypes
      summary: Generate types from database schema
      description: |
        Generates type definitions from the database schema using postgres-meta.

        ## Supported Languages
        - `typescript` (default) - TypeScript type definitions
        - `go` - Go struct definitions
        - `swift` (beta) - Swift type definitions

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - CLI type generation via `omnibase db typegen`
        - CI/CD pipeline type generation
        - Programmatic type generation for SDKs
      tags:
        - V1 Configuration
      security:
        - ServiceKeyAuth: []
      parameters:
        - name: schemas
          in: query
          description: Comma-separated list of database schemas to include (valid PostgreSQL identifiers)
          required: false
          schema:
            type: string
            pattern: ^[a-zA-Z_][a-zA-Z0-9_]*(,[a-zA-Z_][a-zA-Z0-9_]*)*$
            default: public
            example: public,auth
        - name: language
          in: query
          description: Target language for type generation
          required: false
          schema:
            type: string
            enum:
              - typescript
              - go
              - swift
            default: typescript
            example: typescript
      responses:
        '200':
          description: Generated type definitions
          content:
            text/plain:
              schema:
                type: string
                description: Type definitions as plain text
        '400':
          description: Unsupported language
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Failed to connect to typegen service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationErrorResponse'
  /api/v1/email/templates:
    get:
      operationId: getEmailTemplates
      summary: Get all email templates
      description: |
        Retrieves all email templates stored in the database.

        ## Response
        Returns array of all templates with their type, subject, and HTML body.

        ## Use Cases
        - List available email templates
        - Display template management interface
        - Audit email template inventory
      tags:
        - V1 Configuration
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Templates retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          templates:
                            type: array
                            items:
                              $ref: '#/components/schemas/EmailTemplate'
                          count:
                            type: integer
                            example: 3
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createOrUpdateEmailTemplate
      summary: Create or update email template
      description: |
        Creates a new email template or updates an existing one based on template type.

        ## Template Management
        - If template type exists: updates subject and HTML body
        - If template type is new: creates new template entry

        ## Template Types
        Template types are user-defined identifiers (e.g., "welcome", "password-reset", "invoice").

        ## Use Cases
        - Store custom email templates for transactional emails
        - Update email content without code deployments
        - Maintain versioned email templates
      tags:
        - V1 Configuration
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmailTemplateRequest'
      responses:
        '200':
          description: Template created/updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Template created successfully
                          template:
                            $ref: '#/components/schemas/EmailTemplate'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/email/templates/{type}:
    delete:
      operationId: deleteEmailTemplate
      summary: Delete email template
      description: |
        Deletes an email template by its type identifier.

        ## Deletion Process
        - Searches for template by type
        - Removes template from database if found
        - Returns 404 if template doesn't exist

        ## Use Cases
        - Remove deprecated email templates
        - Clean up test templates
        - Template lifecycle management
      tags:
        - V1 Configuration
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - name: type
          in: path
          required: true
          description: Template type identifier
          schema:
            type: string
          example: welcome
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Template deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/email/send:
    post:
      operationId: sendEmail
      summary: Send an email
      description: |
        Sends an email to the specified recipient using the configured SMTP server.

        ## Email Content
        - Supports HTML body content
        - Optional plain text version for email clients that don't support HTML
        - If both HTML and plain text are provided, sends as multipart/alternative

        ## Use Cases
        - Send transactional emails
        - Send notifications to users
        - Custom email communications
      tags:
        - V1 Configuration
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailRequest'
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Email sent successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/email/templates/{template_name}/{type}:
    get:
      operationId: serveEmailTemplate
      summary: Serve an email template file
      description: |
        Serves the raw contents of an email template used by Ory Kratos for
        transactional emails (verification, recovery, etc.).

        A custom template is looked up in object storage first, falling back to
        the built-in default template shipped with the API.

        ## Template Types
        - `body` — HTML body template (`email.body.gotmpl`)
        - `plaintext` — plain-text body template (`email.body.plaintext.gotmpl`)
        - `subject` — subject line template (`email.subject.gotmpl`)

        ## Use Cases
        - Kratos courier template rendering
        - Previewing the active template for a given flow
      tags:
        - V1 Configuration
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - name: template_name
          in: path
          required: true
          description: Kratos flow/template name
          schema:
            type: string
          example: verification
        - name: type
          in: path
          required: true
          description: Which part of the template to serve
          schema:
            type: string
            enum:
              - body
              - plaintext
              - subject
          example: body
      responses:
        '200':
          description: Template contents
          content:
            text/plain:
              schema:
                type: string
                description: Raw Go template (gotmpl) contents
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/checkout:
    post:
      operationId: createCheckout
      summary: Create checkout session
      description: |
        Creates a Stripe Checkout Session for the specified price ID. The session URL can be used to redirect users to complete payment.

        ## Authentication
        Optional cookie authentication. If authenticated and user has a Stripe customer ID, it will be used; otherwise, a new customer will be created.

        ## Use Cases
        - Subscription sign-ups
        - One-time purchases
        - Trial period checkouts
        - Promotional code redemption
      tags:
        - V1 Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
      responses:
        '200':
          description: Checkout session created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateCheckoutResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/portal:
    post:
      operationId: createCustomerPortal
      summary: Create customer portal session
      description: |
        Creates a Stripe Customer Portal session where users can manage their subscription, payment methods, and billing history.

        ## Authentication
        Requires cookie authentication with an associated Stripe customer ID (set via payments middleware).

        ## Prerequisites
        - User must be authenticated
        - Tenant must have a Stripe customer ID configured
        - If stripe_customer_id not found in context, returns 400: "stripe_customer_id not found in context"

        ## Use Cases
        - Subscription management
        - Payment method updates
        - Invoice history viewing
        - Subscription cancellation
      tags:
        - V1 Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortalRequest'
      responses:
        '200':
          description: Portal session created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreatePortalResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/usage:
    post:
      operationId: recordUsage
      summary: Record metered usage
      description: |
        Records a usage event for metered billing. The customer must have an active subscription with metered pricing.

        ## Authentication
        Requires cookie authentication with an associated Stripe customer ID (set via payments middleware).

        ## Prerequisites
        - User must be authenticated
        - Tenant must have a Stripe customer ID configured
        - If stripe_customer_id not found in context, returns 400: "stripe_customer_id not found in context"

        ## Use Cases
        - API request metering
        - Compute time tracking
        - Storage usage recording
        - Any metered billing scenario
      tags:
        - V1 Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordUsageRequest'
      responses:
        '200':
          description: Usage recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices:
    post:
      operationId: createInvoice
      summary: Create invoice
      description: |
        Creates a new draft invoice for the specified customer.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Use Cases
        - Creating invoices for platform fees
        - Manual billing scenarios
        - Custom invoice generation
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Used to look up the Stripe customer ID from tenant configuration. Required if X-Stripe-Customer-Id is not provided.
          schema:
            type: string
            format: uuid
        - name: X-Stripe-Customer-Id
          in: header
          required: false
          description: Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer. Required if X-Tenant-Id is not provided.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '200':
          description: Invoice created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices/{invoice_id}:
    get:
      operationId: getInvoice
      summary: Get invoice
      description: |
        Retrieves a Stripe invoice by its ID.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Use Cases
        - Webhook processing
        - Invoice status checking
        - Invoice data retrieval
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      responses:
        '200':
          description: Invoice retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateInvoice
      summary: Update invoice
      description: |
        Updates a draft invoice's description and metadata.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding custom descriptions
        - Adding metadata for tracking
        - Customizing invoice before sending
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
      responses:
        '200':
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices/{invoice_id}/items:
    post:
      operationId: addInvoiceLineItem
      summary: Add invoice line item
      description: |
        Adds a new line item to a draft invoice.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding platform fees
        - Adding additional charges
        - Custom billing line items
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Used to look up the Stripe customer ID from tenant configuration. Required if X-Stripe-Customer-Id is not provided.
          schema:
            type: string
            format: uuid
        - name: X-Stripe-Customer-Id
          in: header
          required: false
          description: Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer. Required if X-Tenant-Id is not provided.
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddInvoiceLineItemRequest'
      responses:
        '200':
          description: Line item added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceLineItemResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices/{invoice_id}/items/price:
    post:
      operationId: addInvoiceLineItemWithPriceId
      summary: Add invoice line item with price ID
      description: |
        Adds a new line item to a draft invoice using a price ID and quantity.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Price ID Resolution
        You must provide ONE of:
        - `price_id`: A config price ID (e.g., "hetzner_cx23_nbg1_hourly") that will be looked up via the Stripe ID mapping table
        - `stripe_price_id`: A raw Stripe price ID (e.g., "price_1ABC...") that will be used directly

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding metered usage line items
        - Adding subscription-based charges
        - Billing for compute hours, storage, etc.
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Used to look up the Stripe customer ID from tenant configuration. Required if X-Stripe-Customer-Id is not provided.
          schema:
            type: string
            format: uuid
        - name: X-Stripe-Customer-Id
          in: header
          required: false
          description: Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer. Required if X-Tenant-Id is not provided.
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddInvoiceLineItemWithPriceIDRequest'
      responses:
        '200':
          description: Line item added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceLineItemResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices/{invoice_id}/finalize:
    post:
      operationId: finalizeInvoice
      summary: Finalize invoice
      description: |
        Finalizes a draft invoice, optionally auto-advancing to send it immediately.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Approving invoices for sending
        - Completing invoice preparation
        - Triggering invoice emails
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeInvoiceRequest'
      responses:
        '200':
          description: Invoice finalized successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/permissions/check:
    post:
      operationId: checkPermission
      summary: Check permission
      description: |
        Checks if a subject has a specific permission on an object using Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide a `subject_set` to identify the subject. For user permissions, use
        `namespace: "User"` and `object: "<user_id>"`.

        ## Use Cases
        - Verify user permissions before performing actions
        - Implement fine-grained access control
        - Check role-based permissions
      tags:
        - V1 Permissions
      security:
        - CookieAuth: []
          SessionTokenAuth: []
          ServiceKeyAuth: []
      requestBody:
        required: true
        description: Permission check request with subject_set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPermissionRequest'
            examples:
              checkUserPermission:
                summary: Check if a user can invite to a tenant
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_invite_user
                  subject_set:
                    namespace: User
                    object: 550e8400-e29b-41d4-a716-446655440000
              checkTenantPermission:
                summary: Check permission with tenant subject set
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_delete_tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_parent_456
                    relation: owners
      responses:
        '200':
          description: Permission check result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CheckPermissionResponse'
              examples:
                allowed:
                  summary: Permission granted
                  value:
                    status: 200
                    data:
                      allowed: true
                denied:
                  summary: Permission denied
                  value:
                    status: 200
                    data:
                      allowed: false
        '400':
          description: Invalid request body - namespace, object, relation, and subject_set are required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                missingSubjectSet:
                  summary: Missing subject_set
                  value:
                    status: 400
                    error: 'Invalid request body: Key: ''CheckPermissionRequest.SubjectSet'' Error:Field validation for ''SubjectSet'' failed on the ''required'' tag'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '500':
          description: Failed to check permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /api/v1/permissions/relationships:
    delete:
      operationId: deleteRelationship
      summary: Delete relationship
      description: |
        Deletes a relationship tuple from Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide a `subject_set` to identify the subject. For user relationships, use
        `namespace: "User"` and `object: "<user_id>"`.

        ## Use Cases
        - Remove resource links from tenants
        - Revoke user assignments from projects
        - Delete permission relationships
      tags:
        - V1 Permissions
      security:
        - CookieAuth: []
          SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        description: Relationship deletion request with subject_set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRelationshipRequest'
            examples:
              deleteUserRelationship:
                summary: Delete user relationship from tenant
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: owners
                  subject_set:
                    namespace: User
                    object: 550e8400-e29b-41d4-a716-446655440000
              deleteTenantRelationship:
                summary: Delete project-tenant relationship
                value:
                  namespace: Project
                  object: project_123
                  relation: tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_456
      responses:
        '200':
          description: Relationship deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DeleteRelationshipResponse'
              example:
                status: 200
                data:
                  message: Relationship deleted successfully
        '400':
          description: Invalid request body - namespace, object, relation, and subject_set are required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                missingSubjectSet:
                  summary: Missing subject_set
                  value:
                    status: 400
                    error: 'Invalid request body: Key: ''DeleteRelationshipRequest.SubjectSet'' Error:Field validation for ''SubjectSet'' failed on the ''required'' tag'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          description: Failed to delete relationship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      operationId: createRelationship
      summary: Create relationship
      description: |
        Creates a new relationship tuple in Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide a `subject_set` to identify the subject. For user relationships, use
        `namespace: "User"` and `object: "<user_id>"`.

        ## Use Cases
        - Link resources to tenants
        - Assign users to projects
        - Create permission relationships
      tags:
        - V1 Permissions
      security:
        - CookieAuth: []
          SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        description: Relationship creation request with subject_set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRelationshipRequest'
            examples:
              createUserRelationship:
                summary: Create user as tenant owner
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: owners
                  subject_set:
                    namespace: User
                    object: 550e8400-e29b-41d4-a716-446655440000
              createTenantRelationship:
                summary: Create project-tenant relationship
                value:
                  namespace: Project
                  object: project_123
                  relation: tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_456
      responses:
        '200':
          description: Relationship created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateRelationshipResponse'
              example:
                status: 200
                data:
                  message: Relationship created successfully
                  relationship:
                    namespace: Tenant
                    object: tenant_test_123
                    relation: owners
                    subject_set:
                      namespace: User
                      object: 550e8400-e29b-41d4-a716-446655440000
        '400':
          description: Invalid request body - namespace, object, relation, and subject_set are required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                missingSubjectSet:
                  summary: Missing subject_set
                  value:
                    status: 400
                    error: 'Invalid request body: Key: ''CreateRelationshipRequest.SubjectSet'' Error:Field validation for ''SubjectSet'' failed on the ''required'' tag'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          description: Failed to create relationship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /api/v1/permissions/namespaces:
    post:
      operationId: deployPermissionNamespaces
      summary: Deploy Keto namespace configurations
      description: |
        Uploads and deploys permission namespace configurations as a zip file.

        ## Authentication
        Requires JWT token with appropriate permissions.

        ## File Format
        Upload a zip file containing namespace definition files and optionally a `roles.config.json` file.
        The namespace files are stored in S3 and parsed to extract permission definitions.

        **roles.config.json format:**
        ```json
        {
          "roles": [
            {
              "role": "admin",
              "permissions": ["projects:read", "projects:write", "projects:delete"]
            },
            {
              "role": "viewer",
              "permissions": ["projects:read"]
            }
          ]
        }
        ```

        ## Managed Mode
        If managed hosting is enabled, this endpoint will also trigger a restart of the Keto service.

        ## Use Cases
        - CLI namespace deployment via `omnibase permissions push`
        - CI/CD pipeline integrations
        - Programmatic permission management
      tags:
        - V1 Configuration
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - namespaces
              properties:
                namespaces:
                  type: string
                  format: binary
                  description: Zip file containing namespace configuration files
      responses:
        '200':
          description: Namespaces deployed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/NamespaceDeploymentResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/storage/upload:
    post:
      operationId: uploadFile
      summary: Upload file to storage
      description: |
        Generates a presigned S3 upload URL with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Upload permission is checked via PostgREST against the `storage.objects` table.
        Users must have INSERT permission based on their custom RLS policies.

        ## Upload Process
        1. Request presigned URL from this endpoint
        2. Upload file directly to S3 using returned URL (PUT request)
        3. File metadata is automatically stored in database

        ## URL Expiration
        Presigned URLs are valid for 15 minutes after generation.
      tags:
        - V1 Storage
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - in: header
          name: X-User-Id
          required: false
          schema:
            type: string
            format: uuid
          description: User ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Tenant-Id
          required: false
          schema:
            type: string
            format: uuid
          description: Tenant ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Postgrest-Token
          required: false
          schema:
            type: string
          description: PostgREST JWT token - Alternative to cookie authentication
        - in: cookie
          name: omnibase_postgrest_jwt
          required: false
          schema:
            type: string
          description: PostgREST JWT token in cookie form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequest'
      responses:
        '200':
          description: Upload URL generated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: File already exists at the specified path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/storage/download:
    post:
      operationId: downloadFile
      summary: Download file from storage
      description: |
        Generates a presigned S3 download URL with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Download permission is checked via PostgREST against the `storage.objects` table.
        Users must have SELECT permission based on their custom RLS policies.

        ## Download Process
        1. Request presigned URL from this endpoint
        2. Download file directly from S3 using returned URL (GET request)

        ## URL Expiration
        Presigned URLs are valid for 15 minutes after generation.
      tags:
        - V1 Storage
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - in: header
          name: X-User-Id
          required: false
          schema:
            type: string
            format: uuid
          description: User ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Tenant-Id
          required: false
          schema:
            type: string
            format: uuid
          description: Tenant ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Postgrest-Token
          required: false
          schema:
            type: string
          description: PostgREST JWT token - Alternative to cookie authentication
        - in: cookie
          name: omnibase_postgrest_jwt
          required: false
          schema:
            type: string
          description: PostgREST JWT token in cookie form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadRequest'
      responses:
        '200':
          description: Download URL generated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DownloadResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/storage/object:
    delete:
      operationId: deleteObject
      summary: Delete file from storage
      description: |
        Deletes a file from S3 storage with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Delete permission is checked via PostgREST against the `storage.objects` table.
        Users must have DELETE permission based on their custom RLS policies.

        ## Deletion Process
        1. Metadata is deleted from database (with RLS check)
        2. File is deleted from S3 storage
        3. If S3 deletion fails, metadata is already removed (eventual consistency)
      tags:
        - V1 Storage
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - in: header
          name: X-User-Id
          required: false
          schema:
            type: string
            format: uuid
          description: User ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Tenant-Id
          required: false
          schema:
            type: string
            format: uuid
          description: Tenant ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Postgrest-Token
          required: false
          schema:
            type: string
          description: PostgREST JWT token - Alternative to cookie authentication
        - in: cookie
          name: omnibase_postgrest_jwt
          required: false
          schema:
            type: string
          description: PostgREST JWT token in cookie form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteObjectRequest'
      responses:
        '200':
          description: File deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/storage/make-public:
    post:
      operationId: makeFilePublic
      summary: Make a file publicly accessible
      description: |
        Makes a storage object publicly accessible to any authenticated user, regardless of tenant.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## Permission Check
        Requires `make_public` permission via Keto OPL. By default, only the file owner
        or users with the `can_make_public` relation can make a file public.

        ## Effect
        Once public, any authenticated user can download the file without needing
        a Keto relation or tenant membership.
      tags:
        - V1 Storage
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - in: header
          name: X-User-Id
          required: false
          schema:
            type: string
            format: uuid
          description: User ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Tenant-Id
          required: false
          schema:
            type: string
            format: uuid
          description: Tenant ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Postgrest-Token
          required: false
          schema:
            type: string
          description: PostgREST JWT token - Alternative to cookie authentication
        - in: cookie
          name: omnibase_postgrest_jwt
          required: false
          schema:
            type: string
          description: PostgREST JWT token in cookie form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakePublicRequest'
      responses:
        '200':
          description: File made public successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/stripe/schema:
    get:
      tags:
        - V1 Configuration
      summary: Get Stripe config schema
      description: |
        Returns the JSON schema definition for validating Stripe configuration files.

        ## Use Cases
        - Validate configuration before upload
        - IDE autocomplete support
        - Generate configuration templates
      operationId: getStripeConfigSchema
      responses:
        '200':
          description: JSON schema for Stripe configuration
          content:
            application/schema+json:
              schema:
                type: object
        '500':
          description: Failed to load schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config:
    get:
      tags:
        - V1 Stripe
      summary: Get public Stripe config
      description: |
        Returns the current Stripe configuration with public prices only (filters out enterprise prices).

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Display pricing to users
        - Build subscription selection UI
        - Public pricing pages
      operationId: getStripeConfig
      responses:
        '200':
          description: Stripe configuration retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeConfigResponse'
        '500':
          description: Failed to retrieve configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/config:
    get:
      tags:
        - V1 Stripe
      summary: Get full Stripe config (admin)
      description: |
        Returns the complete Stripe configuration including all prices (both public and enterprise).

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Admin configuration management
        - Enterprise pricing display
        - Configuration auditing
      operationId: getStripeConfigAdmin
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Full Stripe configuration retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeConfigResponse'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to retrieve configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    post:
      tags:
        - V1 Configuration
      summary: Update Stripe config
      description: |
        Updates the Stripe configuration and syncs with Stripe API to create/update products, prices, meters, and webhooks.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Deploy new pricing
        - Update product definitions
        - Modify metered billing settings
        - Configure webhook endpoints

        ## Webhooks
        Include a `webhooks` array to configure webhook endpoints. Webhooks not in the array will be deleted.
        Each webhook can have `connect: true` to listen to events from connected accounts.
      operationId: updateStripeConfig
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeConfigUpdateRequest'
      responses:
        '200':
          description: Configuration updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeConfigUpdateResponse'
        '400':
          description: Invalid configuration, validation errors, or configuration data is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/v1/stripe/admin/config/history:
    get:
      tags:
        - V1 Configuration
      summary: Get config history
      description: |
        Returns paginated history of all Stripe configurations.

        ## Authentication
        Requires admin JWT token.

        ## Query Parameters
        - limit: Items per page (default: 10, max: 100, min: 1)
        - offset: Number of items to skip (default: 0, min: 0)
      operationId: getStripeConfigHistory
      security:
        - ServiceKeyAuth: []
      parameters:
        - name: limit
          in: query
          description: Items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: Items to skip
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Configuration history retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ConfigHistoryResponse'
        '400':
          description: Invalid limit/offset parameters or unknown query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to retrieve history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/config/validate:
    post:
      tags:
        - V1 Configuration
      summary: Validate Stripe config
      description: |
        Validates a Stripe configuration against the schema without saving or deploying it.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Pre-deployment validation
        - Configuration testing
        - Schema compliance checking
      operationId: validateStripeConfig
      security:
        - ServiceKeyAuth: []
      requestBody:
        description: Stripe configuration to validate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeConfigValidateRequest'
      responses:
        '200':
          description: Configuration is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Configuration validation failed or version is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/v1/stripe/admin/config/pull:
    get:
      tags:
        - V1 Configuration
      summary: Pull config from Stripe
      description: |
        Fetches all active products, prices, and meters from Stripe API and converts them to the local configuration format.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Sync remote Stripe config to local
        - Import existing Stripe setup
        - Configuration backup
      operationId: pullStripeConfig
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Stripe configuration pulled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeConfigurationWithIDs'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to pull configuration from Stripe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/config/archive-all:
    post:
      tags:
        - V1 Configuration
      summary: Archive all Stripe config
      description: |
        Archives all active products, prices, and meters in Stripe and clears the local configuration.

        ## Authentication
        Requires admin JWT token.

        ## Warning
        This is a destructive operation that will archive ALL active Stripe resources.

        ## Use Cases
        - Clean slate for new configuration
        - Remove all test data
        - Reset Stripe account
      operationId: archiveAllStripeConfig
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Archive operation completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ArchiveAllResponse'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to archive resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/prices/{price_id}:
    get:
      tags:
        - V1 Stripe
      summary: Get price by ID
      description: |
        Returns a specific price from the Stripe configuration by its config ID, along with its parent product.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch price details for checkout
        - Display specific pricing information
        - Subscription management
      operationId: getPriceByID
      parameters:
        - name: price_id
          in: path
          description: Price config ID
          required: true
          schema:
            type: string
            example: basic_monthly
      responses:
        '200':
          description: Price found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PriceResponse'
        '400':
          description: Missing price_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Price not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/prices/{price_id}/calculate:
    post:
      tags:
        - V1 Stripe
      summary: Calculate cost for a price
      description: |
        Calculates the cost in cents for a given quantity of a price, handling both flat and tiered pricing.

        ## Authentication
        No authentication required for public endpoint.

        ## Pricing Modes
        - **per_unit**: Simple flat pricing where cost = unit_amount × quantity
        - **tiered (graduated)**: Each tier's price applies only to units in that tier (like tax brackets)
        - **tiered (volume)**: The applicable tier's price applies to ALL units

        ## Use Cases
        - Calculate estimated costs for usage preview
        - Display cost estimates in dashboard
        - Usage billing calculations
      operationId: calculatePriceCost
      parameters:
        - name: price_id
          in: path
          description: Price config ID
          required: true
          schema:
            type: string
            example: compute_hourly
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculatePriceCostRequest'
      responses:
        '200':
          description: Cost calculated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CalculatePriceCostResponse'
        '400':
          description: Invalid request or missing quantity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Price not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to calculate cost
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/products/{product_id}:
    get:
      tags:
        - V1 Stripe
      summary: Get product by ID
      description: |
        Returns a specific product from the Stripe configuration by its config ID, including all its prices.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch product details
        - Display product information with all price options
        - Product catalog pages
      operationId: getProductByID
      parameters:
        - name: product_id
          in: path
          description: Product config ID
          required: true
          schema:
            type: string
            example: basic_plan
      responses:
        '200':
          description: Product found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Missing product_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/meters/{meter_id}:
    get:
      tags:
        - V1 Stripe
      summary: Get meter by ID
      description: |
        Returns a specific billing meter from the Stripe configuration by its config ID.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch meter details for usage tracking
        - Display metered billing information
        - Usage reporting configuration
      operationId: getMeterByID
      parameters:
        - name: meter_id
          in: path
          description: Meter config ID
          required: true
          schema:
            type: string
            example: api_requests
      responses:
        '200':
          description: Meter found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MeterResponse'
        '400':
          description: Missing meter_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Meter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve meter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/convert/stripe-id/{stripe_id}:
    get:
      tags:
        - V1 Stripe
      summary: Convert Stripe ID to config ID
      description: |
        Converts a Stripe ID (product, price, or meter) to the corresponding config ID.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Webhook processing
        - Subscription mapping
        - Price lookups
      operationId: convertStripeIDToConfigID
      parameters:
        - name: stripe_id
          in: path
          description: Stripe ID to convert
          required: true
          schema:
            type: string
            example: price_1SRiyyCJIZaBlhY1NpAJFhNU
      responses:
        '200':
          description: Config ID found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeIDConversionResponse'
        '400':
          description: Missing Stripe ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Mapping not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/webhooks:
    get:
      tags:
        - V1 Stripe
      summary: List all webhooks
      description: |
        Retrieves all configured webhook endpoints with their signing secrets.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - List all webhook configurations
        - Retrieve signing secrets for webhook signature verification
        - Debug webhook configuration
      operationId: listWebhooks
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Webhooks retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ListWebhooksResponse'
        '401':
          description: Invalid or missing service key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to retrieve webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/enterprise/apply-template:
    post:
      tags:
        - V1 Stripe
      summary: Apply enterprise template pricing
      description: |
        Applies template-based enterprise pricing to a tenant. This swaps the tenant's
        active subscription prices to the corresponding enterprise template prices.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - Apply pre-defined discount tiers to enterprise customers
        - Bulk pricing changes for enterprise accounts
        - Template-based enterprise onboarding

        ## Flow
        1. Validates tenant exists and has Stripe customer ID
        2. Fetches all prices with matching `enterprise_template`
        3. Swaps subscription item prices to enterprise equivalents
        4. Updates tenant's `enterprise_template` field for future provisioning
      operationId: applyEnterpriseTemplate
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyEnterpriseTemplateRequest'
      responses:
        '200':
          description: Enterprise template pricing applied successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EnterpriseApplyResponse'
        '400':
          description: Invalid request or tenant has no Stripe customer ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing service key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Tenant or enterprise template not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to apply enterprise pricing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/enterprise/apply-custom:
    post:
      tags:
        - V1 Stripe
      summary: Apply custom enterprise pricing
      description: |
        Applies tenant-specific enterprise pricing to a tenant. This swaps the tenant's
        active subscription prices to custom enterprise prices identified by enterprise_id.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - Apply custom negotiated pricing for specific enterprise customers
        - Tenant-specific pricing overrides
        - Custom enterprise onboarding

        ## Flow
        1. Validates tenant exists and has Stripe customer ID
        2. Fetches all prices with matching `enterprise_id`
        3. Swaps subscription item prices to enterprise equivalents
        4. Updates tenant's `enterprise_id` field for future provisioning
      operationId: applyEnterpriseCustom
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyEnterpriseCustomRequest'
      responses:
        '200':
          description: Custom enterprise pricing applied successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EnterpriseApplyResponse'
        '400':
          description: Invalid request or tenant has no Stripe customer ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing service key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Tenant or enterprise_id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to apply enterprise pricing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/enterprise/prices/by-template/{template}:
    get:
      tags:
        - V1 Stripe
      summary: Get enterprise prices by template
      description: |
        Retrieves prices filtered by enterprise template.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - List available enterprise prices for a template
        - Provisioning services for enterprise tenants
      operationId: getEnterprisePricesByTemplate
      security:
        - ServiceKeyAuth: []
      parameters:
        - name: template
          in: path
          description: Enterprise template to filter by
          required: true
          schema:
            type: string
            example: tier1_10pct_off
      responses:
        '200':
          description: Enterprise prices retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EnterprisePricesResponse'
        '401':
          description: Invalid or missing service key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to retrieve enterprise prices
          content:
            application/json:
[...]
