openapi: 3.1.0
info:
  title: Omnibase REST API
  version: 0.10.2
  description: |
    Self-hostable Backend-as-a-Service providing database management, authentication, payments, storage, and email services.

    ## Features
    - **Database**: PostgreSQL with RLS and migrations
    - **Authentication**: Ory Kratos integration with session management
    - **Payments**: Stripe integration with version-controlled billing configs
    - **Storage**: S3-compatible object storage with RLS
    - **Email**: Transactional email service
    - **Permissions**: Fine-grained access control

    ## Authentication
    Most endpoints require authentication via session cookies or JWT tokens.
    Use the appropriate security scheme based on the endpoint requirements.
  contact:
    name: Omnibase Support
    url: https://omnibase.dev/support
    email: support@omnibase.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://omnibase.dev/terms
servers:
  - url: https://api.omnibase.tech
    description: Production server
tags:
  - name: V1 Auth
    description: Authentication and session management endpoints
  - name: V1 Configuration
    description: Configuration management endpoints
  - name: V1 Database
    description: Database migration and management endpoints
  - name: V1 Email
    description: Email sending endpoints
  - name: V1 Events
    description: Event publishing endpoints
  - name: V1 Keto
    description: Keto namespace management endpoints
  - name: V1 Payments
    description: Stripe payment and checkout endpoints
  - name: V1 Permissions
    description: Permission checking and relationship management endpoints
  - name: V1 Storage
    description: File storage and management endpoints
  - name: V1 Stripe
    description: Stripe configuration and management endpoints
  - name: V1 Tenants
    description: Tenant organization management endpoints
  - name: V1 Webhooks
    description: Webhook configuration and management endpoints
externalDocs:
  description: OpenAPI Specification
  url: https://swagger.io/specification/
paths:
  /api/v1/auth/session:
    get:
      operationId: getSession
      summary: Get current session
      description: |
        Returns the current authenticated user's session including identity and tenant information.

        ## Session Data
        - Session metadata (ID, expiry, authentication methods)
        - Identity information (user ID, traits like email, name)
        - Active tenant context (if user has tenant membership)

        ## Authentication
        Requires valid session via Cookie or X-Session-Token header.
      tags:
        - V1 Auth
      security:
        - CookieAuth: []
          SessionTokenAuth: []
      responses:
        '200':
          description: Session retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/auth/identity:
    get:
      operationId: getIdentity
      summary: Get current identity
      description: |
        Returns the current authenticated user's identity information (traits like email, name).

        ## Identity Data
        - User ID (unique identifier)
        - Traits (email, first name, last name based on identity schema)
        - Schema ID
        - Created/updated timestamps

        ## Use Case
        Lighter alternative to full session when you only need user profile data.
      tags:
        - V1 Auth
      security:
        - CookieAuth: []
          SessionTokenAuth: []
      responses:
        '200':
          description: Identity retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/auth/logout:
    post:
      operationId: logout
      summary: Logout user
      description: |
        Creates a Kratos logout flow and returns the logout URL for browser redirect.

        ## Logout Process
        1. Request this endpoint to get logout URL
        2. Redirect browser to the returned logout_url
        3. Session will be invalidated and user logged out

        ## Cookie Cleanup
        The logout URL handles clearing session cookies automatically.
      tags:
        - V1 Auth
      security:
        - CookieAuth: []
          SessionTokenAuth: []
      responses:
        '200':
          description: Logout flow created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LogoutResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/auth/whoami:
    get:
      operationId: whoAmI
      summary: Check authentication status
      description: |
        Lightweight endpoint to check if the user is authenticated.

        ## Response
        Returns boolean authentication status and user ID if authenticated.

        ## Use Case
        Quick auth checks for route guards without fetching full session data.
      tags:
        - V1 Auth
      security:
        - CookieAuth: []
          SessionTokenAuth: []
      responses:
        '200':
          description: Authentication status checked
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WhoAmIResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/auth/active-tenant:
    get:
      operationId: getActiveTenant
      summary: Get active tenant
      description: |
        Returns the full tenant object for the user's currently active tenant.

        ## Tenant Context
        Users can be members of multiple tenants but only one is active at a time.
        The active tenant determines which resources and data the user can access.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID header

        ## Use Case
        Determine which tenant context to use for API calls and data filtering.
      tags:
        - V1 Auth
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: User ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
          SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Active tenant retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ActiveTenantResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /api/v1/auth/tenants:
    get:
      operationId: listTenants
      summary: List user's tenants
      description: |
        Returns all tenants the user is a member of with their active status.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID header

        ## Tenant Memberships
        Users can be members of multiple tenants. Each membership has:
        - Active status (only one tenant can be active at a time)
        - Full tenant information (ID, name, type, etc.)

        ## Use Case
        Display tenant switcher UI or list all organizations the user belongs to.
      tags:
        - V1 Auth
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: User ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
          SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Tenants retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ListTenantsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/auth/users:
    post:
      operationId: createUser
      summary: Create new user
      description: |
        Creates a new user identity via Kratos admin API with email/password credentials.

        ## User Creation
        - Creates Kratos identity with provided traits (email, name)
        - Sets up password authentication credentials
        - Returns the created identity information

        ## Use Case
        Administrative user creation endpoint for onboarding flows or user management.

        ## Authentication
        This is an admin endpoint that requires service key authentication.
      tags:
        - V1 Auth
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '200':
          description: User created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/KratosIdentity'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/database/migrations:
    post:
      operationId: uploadDatabaseMigrations
      summary: Upload database migrations
      description: |
        Uploads SQL migration files and applies them to the user's PostgreSQL database.

        ## Authentication
        Requires JWT token (typically used by CLI tools, not browser sessions).

        ## Migration Format
        Upload a zip file containing SQL files named like: `001-seed.sql`, `002-rls.sql`, etc.
        Files are automatically renamed to golang-migrate format: `001_seed.up.sql`, `002_rls.up.sql`.

        ## Use Cases
        - CLI migration uploads via `omnibase db migration push`
        - CI/CD pipeline integrations
        - Programmatic schema management
      tags:
        - V1 Configuration
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - migrations
              properties:
                migrations:
                  type: string
                  format: binary
                  description: Zip file containing SQL migration files
      responses:
        '200':
          description: Migrations applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationSuccessResponse'
        '400':
          description: No migrations zip file provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/email/templates:
    get:
      operationId: getEmailTemplates
      summary: Get all email templates
      description: |
        Retrieves all email templates stored in the database.

        ## Response
        Returns array of all templates with their type, subject, and HTML body.

        ## Use Cases
        - List available email templates
        - Display template management interface
        - Audit email template inventory
      tags:
        - V1 Configuration
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Templates retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          templates:
                            type: array
                            items:
                              $ref: '#/components/schemas/EmailTemplate'
                          count:
                            type: integer
                            example: 3
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createOrUpdateEmailTemplate
      summary: Create or update email template
      description: |
        Creates a new email template or updates an existing one based on template type.

        ## Template Management
        - If template type exists: updates subject and HTML body
        - If template type is new: creates new template entry

        ## Template Types
        Template types are user-defined identifiers (e.g., "welcome", "password-reset", "invoice").

        ## Use Cases
        - Store custom email templates for transactional emails
        - Update email content without code deployments
        - Maintain versioned email templates
      tags:
        - V1 Configuration
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmailTemplateRequest'
      responses:
        '200':
          description: Template created/updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Template created successfully
                          template:
                            $ref: '#/components/schemas/EmailTemplate'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/email/templates/{type}:
    delete:
      operationId: deleteEmailTemplate
      summary: Delete email template
      description: |
        Deletes an email template by its type identifier.

        ## Deletion Process
        - Searches for template by type
        - Removes template from database if found
        - Returns 404 if template doesn't exist

        ## Use Cases
        - Remove deprecated email templates
        - Clean up test templates
        - Template lifecycle management
      tags:
        - V1 Configuration
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - name: type
          in: path
          required: true
          description: Template type identifier
          schema:
            type: string
          example: welcome
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Template deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/events:
    get:
      operationId: connectWebSocket
      summary: WebSocket connection for real-time events
      description: |
        WebSocket endpoint for receiving real-time database change notifications with Row-Level Security (RLS) enforcement.

        ## Connection Details
        - Protocol: WebSocket
        - Upgrade from HTTP GET request

        ## Authentication
        Session authentication via JWT token sent in subscription messages.

        ## Message Format
        **Subscribe to changes:**
        ```json
        {
          "action": "subscribe",
          "subscription": {
            "table": "projects",
            "row_id": "project_test_123",
            "columns": ["name", "status"],
            "jwt": "eyJhbGciOiJIUzI1NiIs..."
          }
        }
        ```

        **Unsubscribe:**
        ```json
        {
          "action": "unsubscribe",
          "subscription": {
            "table": "projects",
            "row_id": "project_test_123"
          }
        }
        ```

        **Received updates:**
        ```json
        {
          "type": "update",
          "table": "projects",
          "row_id": "project_test_123",
          "data": {
            "name": "Updated Project",
            "status": "active"
          }
        }
        ```

        ## RLS Enforcement
        - Access checked via PostgREST using provided JWT
        - Only changes to accessible rows are broadcast
        - Re-validates access on each change notification

        ## Use Cases
        - Real-time collaboration features
        - Live data synchronization
        - Notification systems
        - Activity feeds
      tags:
        - V1 Events
      responses:
        '101':
          description: Switching Protocols - WebSocket connection established
        '400':
          description: Bad Request - Invalid WebSocket upgrade
        '401':
          description: Unauthorized - Invalid JWT in subscription message
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/payments/checkout:
    post:
      operationId: createCheckout
      summary: Create checkout session
      description: |
        Creates a Stripe Checkout Session for the specified price ID. The session URL can be used to redirect users to complete payment.

        ## Authentication
        Optional cookie authentication. If authenticated and user has a Stripe customer ID, it will be used; otherwise, a new customer will be created.

        ## Use Cases
        - Subscription sign-ups
        - One-time purchases
        - Trial period checkouts
        - Promotional code redemption
      tags:
        - V1 Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
      responses:
        '200':
          description: Checkout session created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateCheckoutResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/portal:
    post:
      operationId: createCustomerPortal
      summary: Create customer portal session
      description: |
        Creates a Stripe Customer Portal session where users can manage their subscription, payment methods, and billing history.

        ## Authentication
        Requires cookie authentication with an associated Stripe customer ID (set via payments middleware).

        ## Prerequisites
        - User must be authenticated
        - Tenant must have a Stripe customer ID configured
        - If stripe_customer_id not found in context, returns 400: "stripe_customer_id not found in context"

        ## Use Cases
        - Subscription management
        - Payment method updates
        - Invoice history viewing
        - Subscription cancellation
      tags:
        - V1 Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortalRequest'
      responses:
        '200':
          description: Portal session created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreatePortalResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/usage:
    post:
      operationId: recordUsage
      summary: Record metered usage
      description: |
        Records a usage event for metered billing. The customer must have an active subscription with metered pricing.

        ## Authentication
        Requires cookie authentication with an associated Stripe customer ID (set via payments middleware).

        ## Prerequisites
        - User must be authenticated
        - Tenant must have a Stripe customer ID configured
        - If stripe_customer_id not found in context, returns 400: "stripe_customer_id not found in context"

        ## Use Cases
        - API request metering
        - Compute time tracking
        - Storage usage recording
        - Any metered billing scenario
      tags:
        - V1 Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordUsageRequest'
      responses:
        '200':
          description: Usage recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices:
    post:
      operationId: createInvoice
      summary: Create invoice
      description: |
        Creates a new draft invoice for the specified customer.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Use Cases
        - Creating invoices for platform fees
        - Manual billing scenarios
        - Custom invoice generation
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Used to look up the Stripe customer ID from tenant configuration. Required if X-Stripe-Customer-Id is not provided.
          schema:
            type: string
            format: uuid
        - name: X-Stripe-Customer-Id
          in: header
          required: false
          description: Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer. Required if X-Tenant-Id is not provided.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '200':
          description: Invoice created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices/{invoice_id}:
    get:
      operationId: getInvoice
      summary: Get invoice
      description: |
        Retrieves a Stripe invoice by its ID.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Use Cases
        - Webhook processing
        - Invoice status checking
        - Invoice data retrieval
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      responses:
        '200':
          description: Invoice retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateInvoice
      summary: Update invoice
      description: |
        Updates a draft invoice's description and metadata.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding custom descriptions
        - Adding metadata for tracking
        - Customizing invoice before sending
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
      responses:
        '200':
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices/{invoice_id}/items:
    post:
      operationId: addInvoiceLineItem
      summary: Add invoice line item
      description: |
        Adds a new line item to a draft invoice.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding platform fees
        - Adding additional charges
        - Custom billing line items
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Used to look up the Stripe customer ID from tenant configuration. Required if X-Stripe-Customer-Id is not provided.
          schema:
            type: string
            format: uuid
        - name: X-Stripe-Customer-Id
          in: header
          required: false
          description: Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer. Required if X-Tenant-Id is not provided.
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddInvoiceLineItemRequest'
      responses:
        '200':
          description: Line item added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceLineItemResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices/{invoice_id}/items/price:
    post:
      operationId: addInvoiceLineItemWithPriceId
      summary: Add invoice line item with price ID
      description: |
        Adds a new line item to a draft invoice using a price ID and quantity.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Price ID Resolution
        You must provide ONE of:
        - `price_id`: A config price ID (e.g., "hetzner_cx23_nbg1_hourly") that will be looked up via the Stripe ID mapping table
        - `stripe_price_id`: A raw Stripe price ID (e.g., "price_1ABC...") that will be used directly

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding metered usage line items
        - Adding subscription-based charges
        - Billing for compute hours, storage, etc.
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Used to look up the Stripe customer ID from tenant configuration. Required if X-Stripe-Customer-Id is not provided.
          schema:
            type: string
            format: uuid
        - name: X-Stripe-Customer-Id
          in: header
          required: false
          description: Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer. Required if X-Tenant-Id is not provided.
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddInvoiceLineItemWithPriceIDRequest'
      responses:
        '200':
          description: Line item added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceLineItemResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/payments/invoices/{invoice_id}/finalize:
    post:
      operationId: finalizeInvoice
      summary: Finalize invoice
      description: |
        Finalizes a draft invoice, optionally auto-advancing to send it immediately.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Approving invoices for sending
        - Completing invoice preparation
        - Triggering invoice emails
      tags:
        - V1 Payments
      parameters:
        - name: X-Service-Key
          in: header
          required: true
          description: Service key for authentication
          schema:
            type: string
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            pattern: ^in_[A-Za-z0-9]+$
          description: Stripe Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeInvoiceRequest'
      responses:
        '200':
          description: Invoice finalized successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/permissions/check:
    post:
      operationId: checkPermission
      summary: Check permission
      description: |
        Checks if a subject has a specific permission on an object using Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide either `subject_id` or `subject_set` (not both). The request uses oneOf 
        to enforce this constraint at the schema level.

        ## Use Cases
        - Verify user permissions before performing actions
        - Implement fine-grained access control
        - Check role-based permissions
      tags:
        - V1 Permissions
      security:
        - CookieAuth: []
          SessionTokenAuth: []
          ServiceKeyAuth: []
      requestBody:
        required: true
        description: Permission check request with either subject_id or subject_set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPermissionRequest'
            examples:
              withSubjectId:
                summary: Check permission with subject_id
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_invite_user
                  subject_id: 550e8400-e29b-41d4-a716-446655440000
              withSubjectSet:
                summary: Check permission with subject_set
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_delete_tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_parent_456
                    relation: can_invite_user
      responses:
        '200':
          description: Permission check result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CheckPermissionResponse'
              examples:
                allowed:
                  summary: Permission granted
                  value:
                    status: 200
                    data:
                      allowed: true
                denied:
                  summary: Permission denied
                  value:
                    status: 200
                    data:
                      allowed: false
        '400':
          description: Invalid request body - namespace, object, and relation cannot be empty, or both/neither subject fields provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                bothSubjects:
                  summary: Both subject_id and subject_set provided
                  value:
                    status: 400
                    error: Provide either subject_id or subject_set, not both
                neitherSubject:
                  summary: Neither subject_id nor subject_set provided
                  value:
                    status: 400
                    error: Either subject_id or subject_set must be provided
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '500':
          description: Failed to check permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /api/v1/permissions/relationships:
    delete:
      operationId: deleteRelationship
      summary: Delete relationship
      description: |
        Deletes a relationship tuple from Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide either `subject_id` or `subject_set` (not both). The request uses oneOf
        to enforce this constraint at the schema level.

        ## Use Cases
        - Remove resource links from tenants
        - Revoke user assignments from projects
        - Delete permission relationships
      tags:
        - V1 Permissions
      security:
        - CookieAuth: []
          SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        description: Relationship deletion request with either subject_id or subject_set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRelationshipRequest'
            examples:
              withSubjectId:
                summary: Delete relationship with subject_id
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_invite_user
                  subject_id: 550e8400-e29b-41d4-a716-446655440000
              withSubjectSet:
                summary: Delete relationship with subject_set
                value:
                  namespace: Project
                  object: project_123
                  relation: tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_456
      responses:
        '200':
          description: Relationship deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DeleteRelationshipResponse'
              example:
                status: 200
                data:
                  message: Relationship deleted successfully
        '400':
          description: Invalid request body - namespace, object, and relation are required, or both/neither subject fields provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                bothSubjects:
                  summary: Both subject_id and subject_set provided
                  value:
                    status: 400
                    error: Provide either subject_id or subject_set, not both
                neitherSubject:
                  summary: Neither subject_id nor subject_set provided
                  value:
                    status: 400
                    error: Either subject_id or subject_set must be provided
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          description: Failed to delete relationship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      operationId: createRelationship
      summary: Create relationship
      description: |
        Creates a new relationship tuple in Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide either `subject_id` or `subject_set` (not both). The request uses oneOf 
        to enforce this constraint at the schema level.

        ## Use Cases
        - Link resources to tenants
        - Assign users to projects
        - Create permission relationships
      tags:
        - V1 Permissions
      security:
        - CookieAuth: []
          SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        description: Relationship creation request with either subject_id or subject_set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRelationshipRequest'
            examples:
              withSubjectId:
                summary: Create relationship with subject_id
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_invite_user
                  subject_id: 550e8400-e29b-41d4-a716-446655440000
              withSubjectSet:
                summary: Create relationship with subject_set
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_delete_tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_parent_456
                    relation: can_invite_user
      responses:
        '200':
          description: Relationship created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateRelationshipResponse'
              example:
                status: 200
                data:
                  message: Relationship created successfully
                  relationship:
                    namespace: Tenant
                    object: tenant_test_123
                    relation: can_invite_user
                    subject_id: 550e8400-e29b-41d4-a716-446655440000
        '400':
          description: Invalid request body - namespace, object, and relation are required, or both/neither subject fields provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                bothSubjects:
                  summary: Both subject_id and subject_set provided
                  value:
                    status: 400
                    error: Provide either subject_id or subject_set, not both
                neitherSubject:
                  summary: Neither subject_id nor subject_set provided
                  value:
                    status: 400
                    error: Either subject_id or subject_set must be provided
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          description: Failed to create relationship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /api/v1/permissions/namespaces:
    post:
      operationId: deployPermissionNamespaces
      summary: Deploy Keto namespace configurations
      description: |
        Uploads and deploys permission namespace configurations as a zip file.

        ## Authentication
        Requires JWT token with appropriate permissions.

        ## File Format
        Upload a zip file containing namespace definition files and optionally a `roles.config.json` file.
        The namespace files are stored in S3 and parsed to extract permission definitions.

        **roles.config.json format:**
        ```json
        {
          "roles": [
            {
              "role": "admin",
              "permissions": ["projects:read", "projects:write", "projects:delete"]
            },
            {
              "role": "viewer",
              "permissions": ["projects:read"]
            }
          ]
        }
        ```

        ## Managed Mode
        If managed hosting is enabled, this endpoint will also trigger a restart of the Keto service.

        ## Use Cases
        - CLI namespace deployment via `omnibase permissions push`
        - CI/CD pipeline integrations
        - Programmatic permission management
      tags:
        - V1 Configuration
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - namespaces
              properties:
                namespaces:
                  type: string
                  format: binary
                  description: Zip file containing namespace configuration files
      responses:
        '200':
          description: Namespaces deployed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/NamespaceDeploymentResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/storage/upload:
    post:
      operationId: uploadFile
      summary: Upload file to storage
      description: |
        Generates a presigned S3 upload URL with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Upload permission is checked via PostgREST against the `storage.objects` table.
        Users must have INSERT permission based on their custom RLS policies.

        ## Upload Process
        1. Request presigned URL from this endpoint
        2. Upload file directly to S3 using returned URL (PUT request)
        3. File metadata is automatically stored in database

        ## URL Expiration
        Presigned URLs are valid for 15 minutes after generation.
      tags:
        - V1 Storage
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - in: header
          name: X-User-Id
          required: false
          schema:
            type: string
            format: uuid
          description: User ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Tenant-Id
          required: false
          schema:
            type: string
            format: uuid
          description: Tenant ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Postgrest-Token
          required: false
          schema:
            type: string
          description: PostgREST JWT token - Alternative to cookie authentication
        - in: cookie
          name: omnibase_postgrest_jwt
          required: false
          schema:
            type: string
          description: PostgREST JWT token in cookie form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequest'
      responses:
        '200':
          description: Upload URL generated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/storage/download:
    post:
      operationId: downloadFile
      summary: Download file from storage
      description: |
        Generates a presigned S3 download URL with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Download permission is checked via PostgREST against the `storage.objects` table.
        Users must have SELECT permission based on their custom RLS policies.

        ## Download Process
        1. Request presigned URL from this endpoint
        2. Download file directly from S3 using returned URL (GET request)

        ## URL Expiration
        Presigned URLs are valid for 15 minutes after generation.
      tags:
        - V1 Storage
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - in: header
          name: X-User-Id
          required: false
          schema:
            type: string
            format: uuid
          description: User ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Tenant-Id
          required: false
          schema:
            type: string
            format: uuid
          description: Tenant ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Postgrest-Token
          required: false
          schema:
            type: string
          description: PostgREST JWT token - Alternative to cookie authentication
        - in: cookie
          name: omnibase_postgrest_jwt
          required: false
          schema:
            type: string
          description: PostgREST JWT token in cookie form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadRequest'
      responses:
        '200':
          description: Download URL generated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DownloadResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/storage/object:
    delete:
      operationId: deleteObject
      summary: Delete file from storage
      description: |
        Deletes a file from S3 storage with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Delete permission is checked via PostgREST against the `storage.objects` table.
        Users must have DELETE permission based on their custom RLS policies.

        ## Deletion Process
        1. Metadata is deleted from database (with RLS check)
        2. File is deleted from S3 storage
        3. If S3 deletion fails, metadata is already removed (eventual consistency)
      tags:
        - V1 Storage
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      parameters:
        - in: header
          name: X-User-Id
          required: false
          schema:
            type: string
            format: uuid
          description: User ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Tenant-Id
          required: false
          schema:
            type: string
            format: uuid
          description: Tenant ID (UUID) - Required when using X-Service-Key header
        - in: header
          name: X-Postgrest-Token
          required: false
          schema:
            type: string
          description: PostgREST JWT token - Alternative to cookie authentication
        - in: cookie
          name: omnibase_postgrest_jwt
          required: false
          schema:
            type: string
          description: PostgREST JWT token in cookie form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteObjectRequest'
      responses:
        '200':
          description: File deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/stripe/schema:
    get:
      tags:
        - V1 Configuration
      summary: Get Stripe config schema
      description: |
        Returns the JSON schema definition for validating Stripe configuration files.

        ## Use Cases
        - Validate configuration before upload
        - IDE autocomplete support
        - Generate configuration templates
      operationId: getStripeConfigSchema
      responses:
        '200':
          description: JSON schema for Stripe configuration
          content:
            application/schema+json:
              schema:
                type: object
        '500':
          description: Failed to load schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config:
    get:
      tags:
        - V1 Stripe
      summary: Get public Stripe config
      description: |
        Returns the current Stripe configuration with public prices only (filters out enterprise prices).

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Display pricing to users
        - Build subscription selection UI
        - Public pricing pages
      operationId: getStripeConfig
      responses:
        '200':
          description: Stripe configuration retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeConfigResponse'
        '500':
          description: Failed to retrieve configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/config:
    get:
      tags:
        - V1 Stripe
      summary: Get full Stripe config (admin)
      description: |
        Returns the complete Stripe configuration including all prices (both public and enterprise).

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Admin configuration management
        - Enterprise pricing display
        - Configuration auditing
      operationId: getStripeConfigAdmin
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Full Stripe configuration retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeConfigResponse'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to retrieve configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    post:
      tags:
        - V1 Configuration
      summary: Update Stripe config
      description: |
        Updates the Stripe configuration and syncs with Stripe API to create/update products, prices, and meters.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Deploy new pricing
        - Update product definitions
        - Modify metered billing settings
      operationId: updateStripeConfig
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeConfigUpdateRequest'
      responses:
        '200':
          description: Configuration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid configuration, validation errors, or configuration data is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/v1/stripe/admin/config/history:
    get:
      tags:
        - V1 Configuration
      summary: Get config history
      description: |
        Returns paginated history of all Stripe configurations.

        ## Authentication
        Requires admin JWT token.

        ## Query Parameters
        - limit: Items per page (default: 10, max: 100, min: 1)
        - offset: Number of items to skip (default: 0, min: 0)
      operationId: getStripeConfigHistory
      security:
        - ServiceKeyAuth: []
      parameters:
        - name: limit
          in: query
          description: Items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: Items to skip
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Configuration history retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ConfigHistoryResponse'
        '400':
          description: Invalid limit/offset parameters or unknown query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to retrieve history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/config/validate:
    post:
      tags:
        - V1 Configuration
      summary: Validate Stripe config
      description: |
        Validates a Stripe configuration against the schema without saving or deploying it.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Pre-deployment validation
        - Configuration testing
        - Schema compliance checking
      operationId: validateStripeConfig
      security:
        - ServiceKeyAuth: []
      requestBody:
        description: Stripe configuration to validate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeConfigValidateRequest'
      responses:
        '200':
          description: Configuration is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Configuration validation failed or version is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/v1/stripe/admin/config/pull:
    get:
      tags:
        - V1 Configuration
      summary: Pull config from Stripe
      description: |
        Fetches all active products, prices, and meters from Stripe API and converts them to the local configuration format.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Sync remote Stripe config to local
        - Import existing Stripe setup
        - Configuration backup
      operationId: pullStripeConfig
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Stripe configuration pulled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeConfiguration'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to pull configuration from Stripe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/admin/config/archive-all:
    post:
      tags:
        - V1 Configuration
      summary: Archive all Stripe config
      description: |
        Archives all active products, prices, and meters in Stripe and clears the local configuration.

        ## Authentication
        Requires admin JWT token.

        ## Warning
        This is a destructive operation that will archive ALL active Stripe resources.

        ## Use Cases
        - Clean slate for new configuration
        - Remove all test data
        - Reset Stripe account
      operationId: archiveAllStripeConfig
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Archive operation completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ArchiveAllResponse'
        '401':
          description: Invalid or missing admin token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Failed to archive resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/prices/{price_id}:
    get:
      tags:
        - V1 Stripe
      summary: Get price by ID
      description: |
        Returns a specific price from the Stripe configuration by its config ID, along with its parent product.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch price details for checkout
        - Display specific pricing information
        - Subscription management
      operationId: getPriceByID
      parameters:
        - name: price_id
          in: path
          description: Price config ID
          required: true
          schema:
            type: string
            example: basic_monthly
      responses:
        '200':
          description: Price found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PriceResponse'
        '400':
          description: Missing price_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Price not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/products/{product_id}:
    get:
      tags:
        - V1 Stripe
      summary: Get product by ID
      description: |
        Returns a specific product from the Stripe configuration by its config ID, including all its prices.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch product details
        - Display product information with all price options
        - Product catalog pages
      operationId: getProductByID
      parameters:
        - name: product_id
          in: path
          description: Product config ID
          required: true
          schema:
            type: string
            example: basic_plan
      responses:
        '200':
          description: Product found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Missing product_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/meters/{meter_id}:
    get:
      tags:
        - V1 Stripe
      summary: Get meter by ID
      description: |
        Returns a specific billing meter from the Stripe configuration by its config ID.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch meter details for usage tracking
        - Display metered billing information
        - Usage reporting configuration
      operationId: getMeterByID
      parameters:
        - name: meter_id
          in: path
          description: Meter config ID
          required: true
          schema:
            type: string
            example: api_requests
      responses:
        '200':
          description: Meter found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MeterResponse'
        '400':
          description: Missing meter_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Meter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve meter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/convert/stripe-id/{stripe_id}:
    get:
      tags:
        - V1 Stripe
      summary: Convert Stripe ID to config ID
      description: |
        Converts a Stripe ID (product, price, or meter) to the corresponding config ID.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Webhook processing
        - Subscription mapping
        - Price lookups
      operationId: convertStripeIDToConfigID
      parameters:
        - name: stripe_id
          in: path
          description: Stripe ID to convert
          required: true
          schema:
            type: string
            example: price_1SRiyyCJIZaBlhY1NpAJFhNU
      responses:
        '200':
          description: Config ID found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StripeIDConversionResponse'
        '400':
          description: Missing Stripe ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Mapping not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/webhook:
    get:
      tags:
        - V1 Webhooks
      summary: Get webhook secret
      description: |
        Retrieves the webhook signing secret for the most recent webhook configuration.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - Retrieve signing secret for webhook signature verification
        - Debug webhook configuration
      operationId: getWebhookSecret
      security:
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Webhook secret retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookSecretResponse'
        '401':
          description: Invalid or missing service key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: No webhook configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Failed to retrieve webhook secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/stripe/config/webhooks:
    post:
      tags:
        - V1 Webhooks
      summary: Configure multiple webhook endpoints
      description: |
        Creates, updates, or removes multiple webhook endpoints to match the desired configuration.
        Webhooks not in the request will be deleted.

        ## Authentication
        Requires service key authentication.

        ## Connect Webhooks
        Each webhook can have `connect: true` to listen to events from connected accounts.

        ## URL Interpolation
        URLs support `${VAR}` environment variable interpolation when using the CLI.
        The CLI resolves these before sending to the API.

        ## Use Cases
        - Configure multiple webhooks for different environments
        - Set up both account and Connect webhooks
        - Declarative webhook configuration management
      operationId: configureWebhooks
      security:
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksConfigRequest'
      responses:
        '200':
          description: Webhooks configured successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhooksConfigResponse'
        '400':
          description: Invalid request - validation errors or invalid Stripe event types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Invalid or missing service key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '409':
          description: Conflict - duplicate webhook URL provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '500':
          description: Failed to configure webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /api/v1/tenants:
    post:
      tags:
        - V1 Tenants
      summary: Create tenant
      description: |
        Creates a new tenant organization with Stripe customer, sets up owner role, and makes it the active tenant for the creator.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session (user_id extracted from session)
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID headers

        ## Service Key Usage
        When using service key authentication, provide the user_id via the X-User-ID header.
        The user_id must be a valid UUID matching an existing Kratos identity.

        ## Process
        1. Creates Stripe customer (if billing_email provided)
        2. Creates tenant in database
        3. Sets up default tenant settings
        4. Adds creator as owner
        5. Assigns owner role with all permissions
        6. Sets as active tenant and returns JWT token
      operationId: createTenant
      parameters:
        - name: X-User-Id
          in: header
          description: User ID (UUID) - Required when using service key authentication
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        '200':
          description: Tenant created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateTenantResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          description: Invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to create tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - V1 Tenants
      summary: Delete tenant
      description: |
        Deletes a tenant organization and performs cleanup of Stripe customer, Keto permissions, and user associations.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session with `delete_tenant` permission
        - **Service Key Auth**: Requires X-Service-Key + X-Tenant-ID + X-User-ID headers with `delete_tenant` permission

        ## Process
        1. Verifies user has delete permission
        2. Archives Stripe customer
        3. Deletes tenant (cascades to users, settings, invites)
        4. Cleans up all affected users' tenant state
      operationId: deleteTenant
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: User ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Tenant deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DeleteTenantResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          description: User not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions to delete tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to delete tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/tenants/switch-active:
    put:
      tags:
        - V1 Tenants
      summary: Switch active tenant
      description: |
        Updates the user's active tenant in Kratos identity and returns a new JWT token with updated tenant context.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID header

        ## Use Cases
        - Switch between organizations
        - Change context for multi-tenant users
      operationId: switchActiveTenant
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: User ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchTenantRequest'
      responses:
        '200':
          description: Successfully switched tenants
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SwitchTenantResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          description: User not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Tenant not found or user doesn't have access to it
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to switch tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/tenants/users:
    get:
      tags:
        - V1 Tenants
      summary: Get tenant users
      description: |
        Returns all users who are members of the tenant with their profile information and roles.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session with `view_users` permission
        - **Service Key Auth**: Requires X-Service-Key + X-Tenant-ID + X-User-ID headers with `view_users` permission

        ## Use Cases
        - Display team members list
        - User management UI
        - Member directory
      operationId: listTenantUsers
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: User ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Tenant users retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TenantUserResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          description: User not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions - must have view_users permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to fetch tenant users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - V1 Tenants
      summary: Remove tenant user
      description: |
        Removes a user from the tenant and cleans up all associated permissions and Keto relationships.

        ## Authentication
        Requires JWT token with `remove_user` permission.

        ## Restrictions
        - Cannot remove the last owner (must have at least one owner)
        - Removing an owner requires `remove_owner_role` permission

        ## Process
        1. Verifies permissions
        2. Removes from role's user list
        3. Deletes all Keto relationships
        4. Removes from database
        5. Cleans up user's tenant state
      operationId: removeTenantUser
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTenantUserRequest'
      responses:
        '200':
          description: User removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          description: User not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found in tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to remove user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - V1 Tenants
      summary: Update user role
      description: |
        Updates a user's role in the tenant and updates all associated Keto permissions.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session with `update_user_role` permission
        - **Service Key Auth**: Requires X-Service-Key + X-Tenant-ID + X-User-ID headers with `update_user_role` permission

        ## Restrictions
        - Promoting to owner requires `update_user_role_to_owner` permission
        - Demoting from owner requires `remove_owner_role` permission
        - Cannot demote the last owner (must have at least one owner)

        ## Process
        1. Verifies permissions
        2. Removes old role permissions
        3. Updates database
        4. Assigns new role permissions
      operationId: updateTenantUserRole
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: User ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantUserRoleRequest'
      responses:
        '200':
          description: User role updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UpdateTenantUserRoleResponse'
        '400':
          description: Bad request - Invalid or missing required headers/body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                type: string
                example: 400 Bad Request
        '401':
          description: User not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found in tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to update role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/tenants/roles:
    get:
      tags:
        - V1 Tenants
      summary: List roles
      description: |
        Returns all roles for the authenticated tenant, including both system roles and custom tenant-specific roles.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session with tenant context
        - **Service Key Auth**: Requires X-Service-Key + X-Tenant-ID header

        ## Use Cases
        - Display available roles to assign
        - Role management UI
        - Permission auditing
      operationId: listRoles
      parameters:
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant ID (UUID) - Required when using X-Service-Key header
          schema:
            type: string
            format: uuid
      security:
        - CookieAuth: []
        - SessionTokenAuth: []
        - ServiceKeyAuth: []
      responses:
        '200':
          description: Roles retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
[...]
