openapi: 3.1.0
info:
  contact:
    email: support@omnibase.dev
    name: Omnibase Support
    url: https://omnibase.dev/support
  description: |
    Self-hostable Backend-as-a-Service providing database management, authentication, payments, storage, and email services.

    ## Features
    - **Database**: PostgreSQL with RLS and migrations
    - **Authentication**: Ory Kratos integration with session management
    - **Payments**: Stripe integration with version-controlled billing configs
    - **Storage**: S3-compatible object storage with RLS
    - **Email**: Transactional email service
    - **Permissions**: Fine-grained access control

    ## Authentication
    Most endpoints require authentication via session cookies or JWT tokens.
    Use the appropriate security scheme based on the endpoint requirements.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://omnibase.dev/terms
  title: Omnibase REST API
  version: 0.19.0
externalDocs:
  description: OpenAPI Specification
  url: https://swagger.io/specification/
servers:
- description: Production server
  url: https://api.omnibase.tech
tags:
- description: Authentication and session management endpoints
  name: V1 Auth
- description: Configuration management endpoints
  name: V1 Configuration
- description: Database migration and management endpoints
  name: V1 Database
- description: Email sending endpoints
  name: V1 Email
- description: Keto namespace management endpoints
  name: V1 Keto
- description: Stripe payment and checkout endpoints
  name: V1 Payments
- description: Permission checking and relationship management endpoints
  name: V1 Permissions
- description: File storage and management endpoints
  name: V1 Storage
- description: Stripe configuration and management endpoints
  name: V1 Stripe
- description: Tenant organization management endpoints
  name: V1 Tenants
- description: Webhook configuration and management endpoints
  name: V1 Webhooks
paths:
  /api/v1/auth/session:
    get:
      description: |
        Returns the current authenticated user's session including identity and tenant information.

        ## Session Data
        - Session metadata (ID, expiry, authentication methods)
        - Identity information (user ID, traits like email, name)
        - Active tenant context (if user has tenant membership)

        ## Authentication
        Requires valid session via Cookie or X-Session-Token header.
      operationId: getSession
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSession_200_response"
          description: Session retrieved successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      security:
      - CookieAuth: []
        SessionTokenAuth: []
      summary: Get current session
      tags:
      - V1 Auth
  /api/v1/auth/identity:
    get:
      description: |
        Returns the current authenticated user's identity information (traits like email, name).

        ## Identity Data
        - User ID (unique identifier)
        - Traits (email, first name, last name based on identity schema)
        - Schema ID
        - Created/updated timestamps

        ## Use Case
        Lighter alternative to full session when you only need user profile data.
      operationId: getIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIdentity_200_response"
          description: Identity retrieved successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      security:
      - CookieAuth: []
        SessionTokenAuth: []
      summary: Get current identity
      tags:
      - V1 Auth
  /api/v1/auth/logout:
    post:
      description: |
        Creates a Kratos logout flow and returns the logout URL for browser redirect.

        ## Logout Process
        1. Request this endpoint to get logout URL
        2. Redirect browser to the returned logout_url
        3. Session will be invalidated and user logged out

        ## Cookie Cleanup
        The logout URL handles clearing session cookies automatically.
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/logout_200_response"
          description: Logout flow created successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - CookieAuth: []
        SessionTokenAuth: []
      summary: Logout user
      tags:
      - V1 Auth
  /api/v1/auth/whoami:
    get:
      description: |
        Lightweight endpoint to check if the user is authenticated.

        ## Response
        Returns boolean authentication status and user ID if authenticated.

        ## Use Case
        Quick auth checks for route guards without fetching full session data.
      operationId: whoAmI
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/whoAmI_200_response"
          description: Authentication status checked
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      security:
      - CookieAuth: []
        SessionTokenAuth: []
      summary: Check authentication status
      tags:
      - V1 Auth
  /api/v1/auth/active-tenant:
    get:
      description: |
        Returns the full tenant object for the user's currently active tenant.

        ## Tenant Context
        Users can be members of multiple tenants but only one is active at a time.
        The active tenant determines which resources and data the user can access.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID header

        ## Use Case
        Determine which tenant context to use for API calls and data filtering.
      operationId: getActiveTenant
      parameters:
      - description: User ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getActiveTenant_200_response"
          description: Active tenant retrieved
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      security:
      - CookieAuth: []
        SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Get active tenant
      tags:
      - V1 Auth
  /api/v1/auth/tenants:
    get:
      description: |
        Returns all tenants the user is a member of with their active status.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID header

        ## Tenant Memberships
        Users can be members of multiple tenants. Each membership has:
        - Active status (only one tenant can be active at a time)
        - Full tenant information (ID, name, type, etc.)

        ## Use Case
        Display tenant switcher UI or list all organizations the user belongs to.
      operationId: listTenants
      parameters:
      - description: User ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTenants_200_response"
          description: Tenants retrieved successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - CookieAuth: []
        SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: List user's tenants
      tags:
      - V1 Auth
  /api/v1/auth/users:
    post:
      description: |
        Creates a new user identity via Kratos admin API with email/password credentials.

        ## User Creation
        - Creates Kratos identity with provided traits (email, name)
        - Sets up password authentication credentials
        - Returns the created identity information

        ## Use Case
        Administrative user creation endpoint for onboarding flows or user management.

        ## Authentication
        This is an admin endpoint that requires service key authentication.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createUser_200_response"
          description: User created successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ServiceKeyAuth: []
      summary: Create new user
      tags:
      - V1 Auth
  /api/v1/database/migrations:
    post:
      description: |
        Uploads SQL migration files and applies them to the user's PostgreSQL database.

        ## Authentication
        Requires JWT token (typically used by CLI tools, not browser sessions).

        ## Migration Format
        Upload a zip file containing SQL files named like: `001-seed.sql`, `002-rls.sql`, etc.
        Files are automatically renamed to golang-migrate format: `001_seed.up.sql`, `002_rls.up.sql`.

        ## Use Cases
        - CLI migration uploads via `omnibase db migration push`
        - CI/CD pipeline integrations
        - Programmatic schema management
      operationId: uploadDatabaseMigrations
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadDatabaseMigrations_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationSuccessResponse"
          description: Migrations applied successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationErrorResponse"
          description: No migrations zip file provided
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ServiceKeyAuth: []
      summary: Upload database migrations
      tags:
      - V1 Configuration
  /api/v1/database/typegen:
    get:
      description: |
        Generates type definitions from the database schema using postgres-meta.

        ## Supported Languages
        - `typescript` (default) - TypeScript type definitions
        - `go` - Go struct definitions
        - `swift` (beta) - Swift type definitions

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - CLI type generation via `omnibase db typegen`
        - CI/CD pipeline type generation
        - Programmatic type generation for SDKs
      operationId: generateDatabaseTypes
      parameters:
      - description: Comma-separated list of database schemas to include (valid PostgreSQL
          identifiers)
        explode: true
        in: query
        name: schemas
        required: false
        schema:
          default: public
          example: "public,auth"
          pattern: "^[a-zA-Z_][a-zA-Z0-9_]*(,[a-zA-Z_][a-zA-Z0-9_]*)*$"
          type: string
        style: form
      - description: Target language for type generation
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: typescript
          enum:
          - typescript
          - go
          - swift
          example: typescript
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: Type definitions as plain text
                type: string
          description: Generated type definitions
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationErrorResponse"
          description: Unsupported language
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationErrorResponse"
          description: Failed to connect to typegen service
      security:
      - ServiceKeyAuth: []
      summary: Generate types from database schema
      tags:
      - V1 Configuration
  /api/v1/email/templates:
    get:
      description: |
        Retrieves all email templates stored in the database.

        ## Response
        Returns array of all templates with their type, subject, and HTML body.

        ## Use Cases
        - List available email templates
        - Display template management interface
        - Audit email template inventory
      operationId: getEmailTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEmailTemplates_200_response"
          description: Templates retrieved successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Get all email templates
      tags:
      - V1 Configuration
    post:
      description: |
        Creates a new email template or updates an existing one based on template type.

        ## Template Management
        - If template type exists: updates subject and HTML body
        - If template type is new: creates new template entry

        ## Template Types
        Template types are user-defined identifiers (e.g., "welcome", "password-reset", "invoice").

        ## Use Cases
        - Store custom email templates for transactional emails
        - Update email content without code deployments
        - Maintain versioned email templates
      operationId: createOrUpdateEmailTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmailTemplateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createOrUpdateEmailTemplate_200_response"
          description: Template created/updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Create or update email template
      tags:
      - V1 Configuration
  /api/v1/email/templates/{type}:
    delete:
      description: |
        Deletes an email template by its type identifier.

        ## Deletion Process
        - Searches for template by type
        - Removes template from database if found
        - Returns 404 if template doesn't exist

        ## Use Cases
        - Remove deprecated email templates
        - Clean up test templates
        - Template lifecycle management
      operationId: deleteEmailTemplate
      parameters:
      - description: Template type identifier
        example: welcome
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteEmailTemplate_200_response"
          description: Template deleted successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Delete email template
      tags:
      - V1 Configuration
  /api/v1/payments/checkout:
    post:
      description: |
        Creates a Stripe Checkout Session for the specified price ID. The session URL can be used to redirect users to complete payment.

        ## Authentication
        Optional cookie authentication. If authenticated and user has a Stripe customer ID, it will be used; otherwise, a new customer will be created.

        ## Use Cases
        - Subscription sign-ups
        - One-time purchases
        - Trial period checkouts
        - Promotional code redemption
      operationId: createCheckout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createCheckout_200_response"
          description: Checkout session created successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Create checkout session
      tags:
      - V1 Payments
  /api/v1/payments/portal:
    post:
      description: |
        Creates a Stripe Customer Portal session where users can manage their subscription, payment methods, and billing history.

        ## Authentication
        Requires cookie authentication with an associated Stripe customer ID (set via payments middleware).

        ## Prerequisites
        - User must be authenticated
        - Tenant must have a Stripe customer ID configured
        - If stripe_customer_id not found in context, returns 400: "stripe_customer_id not found in context"

        ## Use Cases
        - Subscription management
        - Payment method updates
        - Invoice history viewing
        - Subscription cancellation
      operationId: createCustomerPortal
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePortalRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createCustomerPortal_200_response"
          description: Portal session created successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Create customer portal session
      tags:
      - V1 Payments
  /api/v1/payments/usage:
    post:
      description: |
        Records a usage event for metered billing. The customer must have an active subscription with metered pricing.

        ## Authentication
        Requires cookie authentication with an associated Stripe customer ID (set via payments middleware).

        ## Prerequisites
        - User must be authenticated
        - Tenant must have a Stripe customer ID configured
        - If stripe_customer_id not found in context, returns 400: "stripe_customer_id not found in context"

        ## Use Cases
        - API request metering
        - Compute time tracking
        - Storage usage recording
        - Any metered billing scenario
      operationId: recordUsage
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordUsageRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
          description: Usage recorded successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Record metered usage
      tags:
      - V1 Payments
  /api/v1/payments/invoices:
    post:
      description: |
        Creates a new draft invoice for the specified customer.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Use Cases
        - Creating invoices for platform fees
        - Manual billing scenarios
        - Custom invoice generation
      operationId: createInvoice
      parameters:
      - description: Service key for authentication
        explode: false
        in: header
        name: X-Service-Key
        required: true
        schema:
          type: string
        style: simple
      - description: Tenant ID (UUID) - Used to look up the Stripe customer ID from
          tenant configuration. Required if X-Stripe-Customer-Id is not provided.
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer.\
          \ Required if X-Tenant-Id is not provided."
        explode: false
        in: header
        name: X-Stripe-Customer-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInvoice_200_response"
          description: Invoice created successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Create invoice
      tags:
      - V1 Payments
  /api/v1/payments/invoices/{invoice_id}:
    get:
      description: |
        Retrieves a Stripe invoice by its ID.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Use Cases
        - Webhook processing
        - Invoice status checking
        - Invoice data retrieval
      operationId: getInvoice
      parameters:
      - description: Service key for authentication
        explode: false
        in: header
        name: X-Service-Key
        required: true
        schema:
          type: string
        style: simple
      - description: Stripe Invoice ID
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          pattern: "^in_[A-Za-z0-9]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInvoice_200_response"
          description: Invoice retrieved successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Get invoice
      tags:
      - V1 Payments
    patch:
      description: |
        Updates a draft invoice's description and metadata.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding custom descriptions
        - Adding metadata for tracking
        - Customizing invoice before sending
      operationId: updateInvoice
      parameters:
      - description: Service key for authentication
        explode: false
        in: header
        name: X-Service-Key
        required: true
        schema:
          type: string
        style: simple
      - description: Stripe Invoice ID
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          pattern: "^in_[A-Za-z0-9]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInvoiceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInvoice_200_response"
          description: Invoice updated successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Update invoice
      tags:
      - V1 Payments
  /api/v1/payments/invoices/{invoice_id}/items:
    post:
      description: |
        Adds a new line item to a draft invoice.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding platform fees
        - Adding additional charges
        - Custom billing line items
      operationId: addInvoiceLineItem
      parameters:
      - description: Service key for authentication
        explode: false
        in: header
        name: X-Service-Key
        required: true
        schema:
          type: string
        style: simple
      - description: Tenant ID (UUID) - Used to look up the Stripe customer ID from
          tenant configuration. Required if X-Stripe-Customer-Id is not provided.
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer.\
          \ Required if X-Tenant-Id is not provided."
        explode: false
        in: header
        name: X-Stripe-Customer-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Stripe Invoice ID
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          pattern: "^in_[A-Za-z0-9]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddInvoiceLineItemRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addInvoiceLineItem_200_response"
          description: Line item added successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Add invoice line item
      tags:
      - V1 Payments
  /api/v1/payments/invoices/{invoice_id}/items/price:
    post:
      description: |
        Adds a new line item to a draft invoice using a price ID and quantity.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Customer Identification
        You must provide the Stripe customer ID using ONE of:
        - `X-Stripe-Customer-Id` header: Directly specify the Stripe customer ID
        - `X-Tenant-Id` header: Look up the Stripe customer ID from the tenant's configuration

        ## Price ID Resolution
        You must provide ONE of:
        - `price_id`: A config price ID (e.g., "hetzner_cx23_nbg1_hourly") that will be looked up via the Stripe ID mapping table
        - `stripe_price_id`: A raw Stripe price ID (e.g., "price_1ABC...") that will be used directly

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Adding metered usage line items
        - Adding subscription-based charges
        - Billing for compute hours, storage, etc.
      operationId: addInvoiceLineItemWithPriceId
      parameters:
      - description: Service key for authentication
        explode: false
        in: header
        name: X-Service-Key
        required: true
        schema:
          type: string
        style: simple
      - description: Tenant ID (UUID) - Used to look up the Stripe customer ID from
          tenant configuration. Required if X-Stripe-Customer-Id is not provided.
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Stripe Customer ID (e.g., cus_xxx) - Directly specify the customer.\
          \ Required if X-Tenant-Id is not provided."
        explode: false
        in: header
        name: X-Stripe-Customer-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Stripe Invoice ID
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          pattern: "^in_[A-Za-z0-9]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddInvoiceLineItemWithPriceIDRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addInvoiceLineItem_200_response"
          description: Line item added successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Add invoice line item with price ID
      tags:
      - V1 Payments
  /api/v1/payments/invoices/{invoice_id}/finalize:
    post:
      description: |
        Finalizes a draft invoice, optionally auto-advancing to send it immediately.

        ## Authentication
        Requires service key authentication via `X-Service-Key` header.

        ## Prerequisites
        - Invoice must be in draft status

        ## Use Cases
        - Approving invoices for sending
        - Completing invoice preparation
        - Triggering invoice emails
      operationId: finalizeInvoice
      parameters:
      - description: Service key for authentication
        explode: false
        in: header
        name: X-Service-Key
        required: true
        schema:
          type: string
        style: simple
      - description: Stripe Invoice ID
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          pattern: "^in_[A-Za-z0-9]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinalizeInvoiceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInvoice_200_response"
          description: Invoice finalized successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Finalize invoice
      tags:
      - V1 Payments
  /api/v1/permissions/check:
    post:
      description: |
        Checks if a subject has a specific permission on an object using Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide a `subject_set` to identify the subject. For user permissions, use
        `namespace: "User"` and `object: "<user_id>"`.

        ## Use Cases
        - Verify user permissions before performing actions
        - Implement fine-grained access control
        - Check role-based permissions
      operationId: checkPermission
      requestBody:
        content:
          application/json:
            examples:
              checkUserPermission:
                summary: Check if a user can invite to a tenant
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_invite_user
                  subject_set:
                    namespace: User
                    object: 550e8400-e29b-41d4-a716-446655440000
              checkTenantPermission:
                summary: Check permission with tenant subject set
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: can_delete_tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_parent_456
                    relation: owners
            schema:
              $ref: "#/components/schemas/CheckPermissionRequest"
        description: Permission check request with subject_set
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                allowed:
                  summary: Permission granted
                  value:
                    status: 200
                    data:
                      allowed: true
                denied:
                  summary: Permission denied
                  value:
                    status: 200
                    data:
                      allowed: false
              schema:
                $ref: "#/components/schemas/checkPermission_200_response"
          description: Permission check result
        "400":
          content:
            application/json:
              examples:
                missingSubjectSet:
                  summary: Missing subject_set
                  value:
                    status: 400
                    error: "Invalid request body: Key: 'CheckPermissionRequest.SubjectSet'\
                      \ Error:Field validation for 'SubjectSet' failed on the 'required'\
                      \ tag"
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: "Invalid request body - namespace, object, relation, and subject_set\
            \ are required"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
          description: Not authenticated
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
          description: Failed to check permission
      security:
      - CookieAuth: []
        SessionTokenAuth: []
        ServiceKeyAuth: []
      summary: Check permission
      tags:
      - V1 Permissions
  /api/v1/permissions/relationships:
    delete:
      description: |
        Deletes a relationship tuple from Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide a `subject_set` to identify the subject. For user relationships, use
        `namespace: "User"` and `object: "<user_id>"`.

        ## Use Cases
        - Remove resource links from tenants
        - Revoke user assignments from projects
        - Delete permission relationships
      operationId: deleteRelationship
      requestBody:
        content:
          application/json:
            examples:
              deleteUserRelationship:
                summary: Delete user relationship from tenant
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: owners
                  subject_set:
                    namespace: User
                    object: 550e8400-e29b-41d4-a716-446655440000
              deleteTenantRelationship:
                summary: Delete project-tenant relationship
                value:
                  namespace: Project
                  object: project_123
                  relation: tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_456
            schema:
              $ref: "#/components/schemas/DeleteRelationshipRequest"
        description: Relationship deletion request with subject_set
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                data:
                  message: Relationship deleted successfully
              schema:
                $ref: "#/components/schemas/deleteRelationship_200_response"
          description: Relationship deleted successfully
        "400":
          content:
            application/json:
              examples:
                missingSubjectSet:
                  summary: Missing subject_set
                  value:
                    status: 400
                    error: "Invalid request body: Key: 'DeleteRelationshipRequest.SubjectSet'\
                      \ Error:Field validation for 'SubjectSet' failed on the 'required'\
                      \ tag"
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: "Invalid request body - namespace, object, relation, and subject_set\
            \ are required"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
          description: Not authenticated
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
          description: Failed to delete relationship
      security:
      - CookieAuth: []
        SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Delete relationship
      tags:
      - V1 Permissions
    post:
      description: |
        Creates a new relationship tuple in Ory Keto.

        ## Authentication
        Requires session authentication.

        ## Request Format
        Provide a `subject_set` to identify the subject. For user relationships, use
        `namespace: "User"` and `object: "<user_id>"`.

        ## Use Cases
        - Link resources to tenants
        - Assign users to projects
        - Create permission relationships
      operationId: createRelationship
      requestBody:
        content:
          application/json:
            examples:
              createUserRelationship:
                summary: Create user as tenant owner
                value:
                  namespace: Tenant
                  object: tenant_test_123
                  relation: owners
                  subject_set:
                    namespace: User
                    object: 550e8400-e29b-41d4-a716-446655440000
              createTenantRelationship:
                summary: Create project-tenant relationship
                value:
                  namespace: Project
                  object: project_123
                  relation: tenant
                  subject_set:
                    namespace: Tenant
                    object: tenant_456
            schema:
              $ref: "#/components/schemas/CreateRelationshipRequest"
        description: Relationship creation request with subject_set
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                data:
                  message: Relationship created successfully
                  relationship:
                    namespace: Tenant
                    object: tenant_test_123
                    relation: owners
                    subject_set:
                      namespace: User
                      object: 550e8400-e29b-41d4-a716-446655440000
              schema:
                $ref: "#/components/schemas/createRelationship_200_response"
          description: Relationship created successfully
        "400":
          content:
            application/json:
              examples:
                missingSubjectSet:
                  summary: Missing subject_set
                  value:
                    status: 400
                    error: "Invalid request body: Key: 'CreateRelationshipRequest.SubjectSet'\
                      \ Error:Field validation for 'SubjectSet' failed on the 'required'\
                      \ tag"
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: "Invalid request body - namespace, object, relation, and subject_set\
            \ are required"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
          description: Not authenticated
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
          description: Failed to create relationship
      security:
      - CookieAuth: []
        SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Create relationship
      tags:
      - V1 Permissions
  /api/v1/permissions/namespaces:
    post:
      description: |
        Uploads and deploys permission namespace configurations as a zip file.

        ## Authentication
        Requires JWT token with appropriate permissions.

        ## File Format
        Upload a zip file containing namespace definition files and optionally a `roles.config.json` file.
        The namespace files are stored in S3 and parsed to extract permission definitions.

        **roles.config.json format:**
        ```json
        {
          "roles": [
            {
              "role": "admin",
              "permissions": ["projects:read", "projects:write", "projects:delete"]
            },
            {
              "role": "viewer",
              "permissions": ["projects:read"]
            }
          ]
        }
        ```

        ## Managed Mode
        If managed hosting is enabled, this endpoint will also trigger a restart of the Keto service.

        ## Use Cases
        - CLI namespace deployment via `omnibase permissions push`
        - CI/CD pipeline integrations
        - Programmatic permission management
      operationId: deployPermissionNamespaces
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/deployPermissionNamespaces_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deployPermissionNamespaces_200_response"
          description: Namespaces deployed successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ServiceKeyAuth: []
      summary: Deploy Keto namespace configurations
      tags:
      - V1 Configuration
  /api/v1/storage/upload:
    post:
      description: |
        Generates a presigned S3 upload URL with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Upload permission is checked via PostgREST against the `storage.objects` table.
        Users must have INSERT permission based on their custom RLS policies.

        ## Upload Process
        1. Request presigned URL from this endpoint
        2. Upload file directly to S3 using returned URL (PUT request)
        3. File metadata is automatically stored in database

        ## URL Expiration
        Presigned URLs are valid for 15 minutes after generation.
      operationId: uploadFile
      parameters:
      - description: User ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: Tenant ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: PostgREST JWT token - Alternative to cookie authentication
        explode: false
        in: header
        name: X-Postgrest-Token
        required: false
        schema:
          type: string
        style: simple
      - description: PostgREST JWT token in cookie form
        explode: true
        in: cookie
        name: omnibase_postgrest_jwt
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/uploadFile_200_response"
          description: Upload URL generated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tenant not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictResponse"
          description: File already exists at the specified path
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Upload file to storage
      tags:
      - V1 Storage
  /api/v1/storage/download:
    post:
      description: |
        Generates a presigned S3 download URL with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Download permission is checked via PostgREST against the `storage.objects` table.
        Users must have SELECT permission based on their custom RLS policies.

        ## Download Process
        1. Request presigned URL from this endpoint
        2. Download file directly from S3 using returned URL (GET request)

        ## URL Expiration
        Presigned URLs are valid for 15 minutes after generation.
      operationId: downloadFile
      parameters:
      - description: User ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: Tenant ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: PostgREST JWT token - Alternative to cookie authentication
        explode: false
        in: header
        name: X-Postgrest-Token
        required: false
        schema:
          type: string
        style: simple
      - description: PostgREST JWT token in cookie form
        explode: true
        in: cookie
        name: omnibase_postgrest_jwt
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DownloadRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadFile_200_response"
          description: Download URL generated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Download file from storage
      tags:
      - V1 Storage
  /api/v1/storage/object:
    delete:
      description: |
        Deletes a file from S3 storage with Row-Level Security (RLS) enforcement.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## RLS Policy
        Delete permission is checked via PostgREST against the `storage.objects` table.
        Users must have DELETE permission based on their custom RLS policies.

        ## Deletion Process
        1. Metadata is deleted from database (with RLS check)
        2. File is deleted from S3 storage
        3. If S3 deletion fails, metadata is already removed (eventual consistency)
      operationId: deleteObject
      parameters:
      - description: User ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: Tenant ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: PostgREST JWT token - Alternative to cookie authentication
        explode: false
        in: header
        name: X-Postgrest-Token
        required: false
        schema:
          type: string
        style: simple
      - description: PostgREST JWT token in cookie form
        explode: true
        in: cookie
        name: omnibase_postgrest_jwt
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteObjectRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteObject_200_response"
          description: File deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Delete file from storage
      tags:
      - V1 Storage
  /api/v1/storage/make-public:
    post:
      description: |
        Makes a storage object publicly accessible to any authenticated user, regardless of tenant.

        ## Authentication
        - **Session Auth**: Requires JWT token via Cookie (`omnibase_postgrest_jwt`) or Header (`X-Postgrest-Token`)
        - **Service Key Auth**: Requires X-Service-Key + X-User-Id + X-Tenant-Id + X-Postgrest-Token headers

        ## Permission Check
        Requires `make_public` permission via Keto OPL. By default, only the file owner
        or users with the `can_make_public` relation can make a file public.

        ## Effect
        Once public, any authenticated user can download the file without needing
        a Keto relation or tenant membership.
      operationId: makeFilePublic
      parameters:
      - description: User ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: Tenant ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: PostgREST JWT token - Alternative to cookie authentication
        explode: false
        in: header
        name: X-Postgrest-Token
        required: false
        schema:
          type: string
        style: simple
      - description: PostgREST JWT token in cookie form
        explode: true
        in: cookie
        name: omnibase_postgrest_jwt
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MakePublicRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteObject_200_response"
          description: File made public successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Make a file publicly accessible
      tags:
      - V1 Storage
  /api/v1/stripe/schema:
    get:
      description: |
        Returns the JSON schema definition for validating Stripe configuration files.

        ## Use Cases
        - Validate configuration before upload
        - IDE autocomplete support
        - Generate configuration templates
      operationId: getStripeConfigSchema
      responses:
        "200":
          content:
            application/schema+json:
              schema:
                type: object
          description: JSON schema for Stripe configuration
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to load schema
      summary: Get Stripe config schema
      tags:
      - V1 Configuration
  /api/v1/stripe/config:
    get:
      description: |
        Returns the current Stripe configuration with public prices only (filters out enterprise prices).

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Display pricing to users
        - Build subscription selection UI
        - Public pricing pages
      operationId: getStripeConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getStripeConfig_200_response"
          description: Stripe configuration retrieved successfully
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve configuration
      summary: Get public Stripe config
      tags:
      - V1 Stripe
  /api/v1/stripe/admin/config:
    get:
      description: |
        Returns the complete Stripe configuration including all prices (both public and enterprise).

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Admin configuration management
        - Enterprise pricing display
        - Configuration auditing
      operationId: getStripeConfigAdmin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getStripeConfig_200_response"
          description: Full Stripe configuration retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing admin token
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve configuration
      security:
      - ServiceKeyAuth: []
      summary: Get full Stripe config (admin)
      tags:
      - V1 Stripe
    post:
      description: |
        Updates the Stripe configuration and syncs with Stripe API to create/update products, prices, meters, and webhooks.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Deploy new pricing
        - Update product definitions
        - Modify metered billing settings
        - Configure webhook endpoints

        ## Webhooks
        Include a `webhooks` array to configure webhook endpoints. Webhooks not in the array will be deleted.
        Each webhook can have `connect: true` to listen to events from connected accounts.
      operationId: updateStripeConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StripeConfigUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateStripeConfig_200_response"
          description: Configuration updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: "Invalid configuration, validation errors, or configuration\
            \ data is required"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing admin token
      security:
      - ServiceKeyAuth: []
      summary: Update Stripe config
      tags:
      - V1 Configuration
  /api/v1/stripe/admin/config/history:
    get:
      description: |
        Returns paginated history of all Stripe configurations.

        ## Authentication
        Requires admin JWT token.

        ## Query Parameters
        - limit: Items per page (default: 10, max: 100, min: 1)
        - offset: Number of items to skip (default: 0, min: 0)
      operationId: getStripeConfigHistory
      parameters:
      - description: Items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Items to skip
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getStripeConfigHistory_200_response"
          description: Configuration history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Invalid limit/offset parameters or unknown query parameter
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing admin token
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve history
      security:
      - ServiceKeyAuth: []
      summary: Get config history
      tags:
      - V1 Configuration
  /api/v1/stripe/admin/config/validate:
    post:
      description: |
        Validates a Stripe configuration against the schema without saving or deploying it.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Pre-deployment validation
        - Configuration testing
        - Schema compliance checking
      operationId: validateStripeConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StripeConfigValidateRequest"
        description: Stripe configuration to validate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
          description: Configuration is valid
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Configuration validation failed or version is required
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing admin token
      security:
      - ServiceKeyAuth: []
      summary: Validate Stripe config
      tags:
      - V1 Configuration
  /api/v1/stripe/admin/config/pull:
    get:
      description: |
        Fetches all active products, prices, and meters from Stripe API and converts them to the local configuration format.

        ## Authentication
        Requires admin JWT token.

        ## Use Cases
        - Sync remote Stripe config to local
        - Import existing Stripe setup
        - Configuration backup
      operationId: pullStripeConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pullStripeConfig_200_response"
          description: Stripe configuration pulled successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing admin token
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to pull configuration from Stripe
      security:
      - ServiceKeyAuth: []
      summary: Pull config from Stripe
      tags:
      - V1 Configuration
  /api/v1/stripe/admin/config/archive-all:
    post:
      description: |
        Archives all active products, prices, and meters in Stripe and clears the local configuration.

        ## Authentication
        Requires admin JWT token.

        ## Warning
        This is a destructive operation that will archive ALL active Stripe resources.

        ## Use Cases
        - Clean slate for new configuration
        - Remove all test data
        - Reset Stripe account
      operationId: archiveAllStripeConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/archiveAllStripeConfig_200_response"
          description: Archive operation completed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing admin token
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to archive resources
      security:
      - ServiceKeyAuth: []
      summary: Archive all Stripe config
      tags:
      - V1 Configuration
  /api/v1/stripe/config/prices/{price_id}:
    get:
      description: |
        Returns a specific price from the Stripe configuration by its config ID, along with its parent product.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch price details for checkout
        - Display specific pricing information
        - Subscription management
      operationId: getPriceByID
      parameters:
      - description: Price config ID
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          example: basic_monthly
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPriceByID_200_response"
          description: Price found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Missing price_id
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Price not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve price
      summary: Get price by ID
      tags:
      - V1 Stripe
  /api/v1/stripe/config/prices/{price_id}/calculate:
    post:
      description: |
        Calculates the cost in cents for a given quantity of a price, handling both flat and tiered pricing.

        ## Authentication
        No authentication required for public endpoint.

        ## Pricing Modes
        - **per_unit**: Simple flat pricing where cost = unit_amount × quantity
        - **tiered (graduated)**: Each tier's price applies only to units in that tier (like tax brackets)
        - **tiered (volume)**: The applicable tier's price applies to ALL units

        ## Use Cases
        - Calculate estimated costs for usage preview
        - Display cost estimates in dashboard
        - Usage billing calculations
      operationId: calculatePriceCost
      parameters:
      - description: Price config ID
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          example: compute_hourly
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalculatePriceCostRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calculatePriceCost_200_response"
          description: Cost calculated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Invalid request or missing quantity
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Price not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to calculate cost
      summary: Calculate cost for a price
      tags:
      - V1 Stripe
  /api/v1/stripe/config/products/{product_id}:
    get:
      description: |
        Returns a specific product from the Stripe configuration by its config ID, including all its prices.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch product details
        - Display product information with all price options
        - Product catalog pages
      operationId: getProductByID
      parameters:
      - description: Product config ID
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          example: basic_plan
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProductByID_200_response"
          description: Product found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Missing product_id
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve product
      summary: Get product by ID
      tags:
      - V1 Stripe
  /api/v1/stripe/config/meters/{meter_id}:
    get:
      description: |
        Returns a specific billing meter from the Stripe configuration by its config ID.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Fetch meter details for usage tracking
        - Display metered billing information
        - Usage reporting configuration
      operationId: getMeterByID
      parameters:
      - description: Meter config ID
        explode: false
        in: path
        name: meter_id
        required: true
        schema:
          example: api_requests
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMeterByID_200_response"
          description: Meter found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Missing meter_id
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Meter not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve meter
      summary: Get meter by ID
      tags:
      - V1 Stripe
  /api/v1/stripe/convert/stripe-id/{stripe_id}:
    get:
      description: |
        Converts a Stripe ID (product, price, or meter) to the corresponding config ID.

        ## Authentication
        No authentication required for public endpoint.

        ## Use Cases
        - Webhook processing
        - Subscription mapping
        - Price lookups
      operationId: convertStripeIDToConfigID
      parameters:
      - description: Stripe ID to convert
        explode: false
        in: path
        name: stripe_id
        required: true
        schema:
          example: price_1SRiyyCJIZaBlhY1NpAJFhNU
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/convertStripeIDToConfigID_200_response"
          description: Config ID found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Missing Stripe ID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Mapping not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve mapping
      summary: Convert Stripe ID to config ID
      tags:
      - V1 Stripe
  /api/v1/stripe/admin/webhooks:
    get:
      description: |
        Retrieves all configured webhook endpoints with their signing secrets.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - List all webhook configurations
        - Retrieve signing secrets for webhook signature verification
        - Debug webhook configuration
      operationId: listWebhooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listWebhooks_200_response"
          description: Webhooks retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing service key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve webhooks
      security:
      - ServiceKeyAuth: []
      summary: List all webhooks
      tags:
      - V1 Stripe
  /api/v1/stripe/admin/enterprise/apply-template:
    post:
      description: |
        Applies template-based enterprise pricing to a tenant. This swaps the tenant's
        active subscription prices to the corresponding enterprise template prices.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - Apply pre-defined discount tiers to enterprise customers
        - Bulk pricing changes for enterprise accounts
        - Template-based enterprise onboarding

        ## Flow
        1. Validates tenant exists and has Stripe customer ID
        2. Fetches all prices with matching `enterprise_template`
        3. Swaps subscription item prices to enterprise equivalents
        4. Updates tenant's `enterprise_template` field for future provisioning
      operationId: applyEnterpriseTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyEnterpriseTemplateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applyEnterpriseTemplate_200_response"
          description: Enterprise template pricing applied successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Invalid request or tenant has no Stripe customer ID
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing service key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Tenant or enterprise template not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to apply enterprise pricing
      security:
      - ServiceKeyAuth: []
      summary: Apply enterprise template pricing
      tags:
      - V1 Stripe
  /api/v1/stripe/admin/enterprise/apply-custom:
    post:
      description: |
        Applies tenant-specific enterprise pricing to a tenant. This swaps the tenant's
        active subscription prices to custom enterprise prices identified by enterprise_id.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - Apply custom negotiated pricing for specific enterprise customers
        - Tenant-specific pricing overrides
        - Custom enterprise onboarding

        ## Flow
        1. Validates tenant exists and has Stripe customer ID
        2. Fetches all prices with matching `enterprise_id`
        3. Swaps subscription item prices to enterprise equivalents
        4. Updates tenant's `enterprise_id` field for future provisioning
      operationId: applyEnterpriseCustom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyEnterpriseCustomRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applyEnterpriseTemplate_200_response"
          description: Custom enterprise pricing applied successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Invalid request or tenant has no Stripe customer ID
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing service key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Tenant or enterprise_id not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to apply enterprise pricing
      security:
      - ServiceKeyAuth: []
      summary: Apply custom enterprise pricing
      tags:
      - V1 Stripe
  /api/v1/stripe/admin/enterprise/prices/by-template/{template}:
    get:
      description: |
        Retrieves prices filtered by enterprise template.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - List available enterprise prices for a template
        - Provisioning services for enterprise tenants
      operationId: getEnterprisePricesByTemplate
      parameters:
      - description: Enterprise template to filter by
        explode: false
        in: path
        name: template
        required: true
        schema:
          example: tier1_10pct_off
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEnterprisePricesByTemplate_200_response"
          description: Enterprise prices retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing service key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve enterprise prices
      security:
      - ServiceKeyAuth: []
      summary: Get enterprise prices by template
      tags:
      - V1 Stripe
  /api/v1/stripe/admin/enterprise/prices/by-id/{enterprise_id}:
    get:
      description: |
        Retrieves prices filtered by enterprise ID.

        ## Authentication
        Requires service key authentication.

        ## Use Cases
        - View custom pricing for a specific enterprise
        - Provisioning services for enterprise tenants
      operationId: getEnterprisePricesByID
      parameters:
      - description: Enterprise ID to filter by
        explode: false
        in: path
        name: enterprise_id
        required: true
        schema:
          example: acme_corp
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEnterprisePricesByTemplate_200_response"
          description: Enterprise prices retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
          description: Invalid or missing service key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
          description: Failed to retrieve enterprise prices
      security:
      - ServiceKeyAuth: []
      summary: Get enterprise prices by ID
      tags:
      - V1 Stripe
  /api/v1/tenants:
    delete:
      description: |
        Deletes a tenant organization and performs cleanup of Stripe customer, Keto permissions, and user associations.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session with `delete_tenant` permission
        - **Service Key Auth**: Requires X-Service-Key + X-Tenant-ID + X-User-ID headers with `delete_tenant` permission

        ## Process
        1. Verifies user has delete permission
        2. Archives Stripe customer
        3. Deletes tenant (cascades to users, settings, invites)
        4. Cleans up all affected users' tenant state
      operationId: deleteTenant
      parameters:
      - description: User ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      - description: Tenant ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteTenant_200_response"
          description: Tenant deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: User not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Insufficient permissions to delete tenant
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tenant not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictResponse"
          description: Tenant has associated resources that must be deleted first
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Failed to delete tenant
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Delete tenant
      tags:
      - V1 Tenants
    post:
      description: |
        Creates a new tenant organization with Stripe customer, sets up owner role, and makes it the active tenant for the creator.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session (user_id extracted from session)
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID headers

        ## Service Key Usage
        When using service key authentication, provide the user_id via the X-User-ID header.
        The user_id must be a valid UUID matching an existing Kratos identity.

        ## Process
        1. Creates Stripe customer (if billing_email provided)
        2. Creates tenant in database
        3. Sets up default tenant settings
        4. Adds creator as owner
        5. Assigns owner role with all permissions
        6. Sets as active tenant and returns JWT token
      operationId: createTenant
      parameters:
      - description: User ID (UUID) - Required when using service key authentication
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTenant_200_response"
          description: Tenant created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid or missing JWT token
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Failed to create tenant
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Create tenant
      tags:
      - V1 Tenants
  /api/v1/tenants/by-id/{tenant_id}:
    get:
      description: |
        Returns a tenant by its ID.

        ## Authentication
        - **Service Key Auth**: Requires X-Service-Key header (service-to-service only)

        ## Use Cases
        - Service-to-service tenant resolution
        - Webhook processing
        - Backend tenant lookup
      operationId: getTenantByID
      parameters:
      - description: Tenant ID (UUID)
        example: 7d5da463-8351-4abe-870c-8ccdefc4d78c
        explode: false
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getTenantByID_200_response"
          description: Tenant found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request - Invalid tenant_id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: User not authenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tenant not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ServiceKeyAuth: []
      summary: Get tenant by ID
      tags:
      - V1 Tenants
  /api/v1/tenants/by-stripe-customer/{stripe_customer_id}:
    get:
      description: |
        Returns a tenant by its Stripe customer ID.

        ## Authentication
        - **Service Key Auth**: Requires X-Service-Key header (service-to-service only)

        ## Use Cases
        - Stripe webhook processing
        - Payment event correlation
        - Invoice/subscription tenant resolution
      operationId: getTenantByStripeCustomerID
      parameters:
      - description: Stripe customer ID
        example: cus_TOWEstcga5ou7a
        explode: false
        in: path
        name: stripe_customer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getTenantByStripeCustomerID_200_response"
          description: Tenant found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request - Invalid stripe_customer_id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: User not authenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tenant not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ServiceKeyAuth: []
      summary: Get tenant by Stripe customer ID
      tags:
      - V1 Tenants
  /api/v1/tenants/switch-active:
    put:
      description: |
        Updates the user's active tenant in Kratos identity and returns a new JWT token with updated tenant context.

        ## Authentication
        - **Session Auth**: Requires JWT token / Cookie Session
        - **Service Key Auth**: Requires X-Service-Key + X-User-ID header

        ## Use Cases
        - Switch between organizations
        - Change context for multi-tenant users
      operationId: switchActiveTenant
      parameters:
      - description: User ID (UUID) - Required when using X-Service-Key header
        explode: false
        in: header
        name: X-User-Id
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchTenantRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/switchActiveTenant_200_response"
          description: Successfully switched tenants
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: User not authenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tenant not found or user doesn't have access to it
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Failed to switch tenant
      security:
      - CookieAuth: []
      - SessionTokenAuth: []
      - ServiceKeyAuth: []
      summary: Switch active tenant
      tags:
      - V1 Tenants
  /api/v1/tenants/users:
    delete:
      description: |
        Removes a user from the tenant and cleans up all associated permissions and Keto relationships.

        ## Authentication
        Requires JWT token with `remove_user` permission.

        ## Restrictions
        - Cannot remove the last owner (must have at least one owner)
        - Removing an owner requires `remove_owner_role` permission

        ## Process
        1. Verifies permissions
        2. Removes from role's user list
        3. Deletes all Keto relationships
        4. Removes from database
        5. Cleans up user's tenant state
      operationId: removeTenantUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteTenantUserRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
          description: User removed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/plain:
              schema:
                example: 400 Bad Request
                type: string
          description: Bad request - Invalid or missing required headers/body
        "401":
          content:
            application/json:
[...]
