openapi: 3.1.0
info:
  contact:
    email: support@omnibase.dev
    name: Omnibase Support
    url: https://omnibase.dev/support
  description: "Self-hostable Backend-as-a-Service providing database management,\
    \ authentication, payments, storage, and email services."
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://omnibase.dev/terms
  title: Omnibase REST API
  version: 0.0.0-dev
servers:
- description: Production server
  url: https://api.omnibase.tech
paths:
  /api/v1/auth/active-tenant:
    get:
      operationId: getActiveTenant
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveTenantResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Get the active tenant for the authenticated user
      tags:
      - V1Auth
  /api/v1/auth/identity:
    get:
      operationId: getIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identity"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      summary: Get current identity
      tags:
      - V1Auth
  /api/v1/auth/logout:
    post:
      operationId: logout
      parameters:
      - explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogoutResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      summary: Logout user
      tags:
      - V1Auth
  /api/v1/auth/session:
    get:
      operationId: getSession
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      summary: Get current session
      tags:
      - V1Auth
  /api/v1/auth/tenants:
    get:
      operationId: listTenants
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTenantsResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: List tenants the authenticated user belongs to
      tags:
      - V1Auth
  /api/v1/auth/users:
    post:
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identity"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Create a new user identity
      tags:
      - V1Auth
  /api/v1/auth/whoami:
    get:
      operationId: whoAmI
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhoAmIBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      summary: Get authenticated user identity
      tags:
      - V1Auth
  /api/v1/database/migrations:
    post:
      operationId: uploadDatabaseMigrations
      requestBody:
        content:
          multipart/form-data:
            encoding:
              migrations:
                contentType: application/octet-stream
                style: form
            schema:
              $ref: "#/components/schemas/uploadDatabaseMigrations_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplyMigrationsResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Apply database migrations
      tags:
      - V1Database
  /api/v1/database/migrations/down:
    post:
      operationId: rollbackDatabaseMigrations
      requestBody:
        content:
          multipart/form-data:
            encoding:
              migrations:
                contentType: application/octet-stream
                style: form
              steps:
                contentType: text/plain
                style: form
            schema:
              $ref: "#/components/schemas/rollbackDatabaseMigrations_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationsDownResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Roll back database migrations
      tags:
      - V1Database
  /api/v1/database/migrations/status:
    get:
      operationId: getDatabaseMigrationStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AppliedMigration"
                nullable: true
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Get the status of applied migrations
      tags:
      - V1Database
  /api/v1/database/typegen:
    get:
      operationId: generateDatabaseTypes
      parameters:
      - explode: false
        in: query
        name: language
        required: false
        schema:
          default: typescript
          enum:
          - typescript
          - go
          - swift
          type: string
        style: form
      - explode: false
        in: query
        name: schemas
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Generate type definitions for the database schema
      tags:
      - V1Database
  /api/v1/email/send:
    post:
      operationId: sendEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Send an email
      tags:
      - V1Configuration
  /api/v1/email/templates:
    get:
      operationId: getEmailTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTemplatesResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Get all email templates
      tags:
      - V1Configuration
    post:
      operationId: createOrUpdateEmailTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertTemplateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertTemplateResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Create or update email template
      tags:
      - V1Configuration
  /api/v1/email/templates/{template_name}/{type}:
    get:
      operationId: serveEmailTemplate
      parameters:
      - explode: false
        in: path
        name: template_name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Cache-Control:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Serve an email template file
      tags:
      - V1Configuration
  /api/v1/email/templates/{type}:
    delete:
      operationId: deleteEmailTemplate
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTemplateResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Delete email template
      tags:
      - V1Configuration
  /api/v1/payments/checkout:
    post:
      operationId: createCheckout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCheckoutResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Create a Stripe checkout session
      tags:
      - V1Payments
  /api/v1/payments/invoices:
    post:
      operationId: createInvoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Create a Stripe invoice
      tags:
      - V1Payments
  /api/v1/payments/invoices/{invoice_id}:
    get:
      operationId: getInvoice
      parameters:
      - explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Get a Stripe invoice
      tags:
      - V1Payments
    patch:
      operationId: updateInvoice
      parameters:
      - explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInvoiceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Update a Stripe invoice
      tags:
      - V1Payments
  /api/v1/payments/invoices/{invoice_id}/finalize:
    post:
      operationId: finalizeInvoice
      parameters:
      - explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinalizeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Finalize a Stripe invoice
      tags:
      - V1Payments
  /api/v1/payments/invoices/{invoice_id}/items:
    post:
      operationId: addInvoiceLineItem
      parameters:
      - explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddLineItemRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceLineItemResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Add a line item to a Stripe invoice
      tags:
      - V1Payments
  /api/v1/payments/invoices/{invoice_id}/items/price:
    post:
      operationId: addInvoiceLineItemWithPriceId
      parameters:
      - explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddLineItemByPriceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceLineItemResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Add a line item to a Stripe invoice using a price ID
      tags:
      - V1Payments
  /api/v1/payments/portal:
    post:
      operationId: createCustomerPortal
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePortalRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePortalResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Create a Stripe customer portal session
      tags:
      - V1Payments
  /api/v1/payments/usage:
    post:
      operationId: recordUsage
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordUsageRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Record a Stripe meter usage event
      tags:
      - V1Payments
  /api/v1/permissions/check:
    post:
      operationId: checkPermission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Check permission
      tags:
      - V1Permissions
  /api/v1/permissions/namespaces:
    post:
      operationId: deployPermissionNamespaces
      requestBody:
        content:
          multipart/form-data:
            encoding:
              namespaces:
                contentType: application/octet-stream
                style: form
            schema:
              $ref: "#/components/schemas/deployPermissionNamespaces_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployNamespacesResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Deploy Keto namespace configurations
      tags:
      - V1Configuration
  /api/v1/permissions/relationships:
    delete:
      operationId: deleteRelationship
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteRelationshipRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRelationshipResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Delete relationship
      tags:
      - V1Permissions
    post:
      operationId: createRelationship
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRelationshipRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRelationshipResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Create relationship
      tags:
      - V1Permissions
  /api/v1/storage/download:
    post:
      operationId: downloadFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DownloadRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Download file from storage
      tags:
      - V1Storage
  /api/v1/storage/make-public:
    post:
      operationId: makeFilePublic
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MakePublicRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MakePublicResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Make a file publicly accessible
      tags:
      - V1Storage
  /api/v1/storage/object:
    delete:
      operationId: deleteObject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteObjectRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteObjectResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Delete file from storage
      tags:
      - V1Storage
  /api/v1/storage/upload:
    post:
      operationId: uploadFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Upload file to storage
      tags:
      - V1Storage
  /api/v1/stripe/admin/config:
    get:
      operationId: getStripeConfigAdmin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeConfigResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Get full Stripe config (admin)
      tags:
      - V1Stripe
    post:
      operationId: updateStripeConfig
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Update Stripe config
      tags:
      - V1Configuration
  /api/v1/stripe/admin/config/archive-all:
    post:
      operationId: archiveAllStripeConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveAllResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Archive all Stripe config
      tags:
      - V1Configuration
  /api/v1/stripe/admin/config/history:
    get:
      operationId: getStripeConfigHistory
      parameters:
      - explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int64
          type: integer
        style: form
      - explode: false
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigHistoryResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Get config history
      tags:
      - V1Configuration
  /api/v1/stripe/admin/config/pull:
    get:
      operationId: pullStripeConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeConfiguration"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Pull config from Stripe
      tags:
      - V1Configuration
  /api/v1/stripe/admin/config/validate:
    post:
      operationId: validateStripeConfig
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Validate Stripe config
      tags:
      - V1Configuration
  /api/v1/stripe/admin/enterprise/apply-custom:
    post:
      operationId: applyEnterpriseCustom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyEnterpriseCustomRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterpriseApplyResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Apply custom enterprise pricing
      tags:
      - V1Stripe
  /api/v1/stripe/admin/enterprise/apply-template:
    post:
      operationId: applyEnterpriseTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyEnterpriseTemplateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterpriseApplyResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Apply enterprise template pricing
      tags:
      - V1Stripe
  /api/v1/stripe/admin/enterprise/prices/by-id/{enterprise_id}:
    get:
      operationId: getEnterprisePricesByID
      parameters:
      - explode: false
        in: path
        name: enterprise_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterprisePricesResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Get enterprise prices by ID
      tags:
      - V1Stripe
  /api/v1/stripe/admin/enterprise/prices/by-template/{template}:
    get:
      operationId: getEnterprisePricesByTemplate
      parameters:
      - explode: false
        in: path
        name: template
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnterprisePricesResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Get enterprise prices by template
      tags:
      - V1Stripe
  /api/v1/stripe/admin/webhooks:
    get:
      operationId: listWebhooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: List all webhooks
      tags:
      - V1Stripe
  /api/v1/stripe/config:
    get:
      operationId: getStripeConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeConfigResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get public Stripe config
      tags:
      - V1Stripe
  /api/v1/stripe/config/meters/{meter_id}:
    get:
      operationId: getMeterByID
      parameters:
      - explode: false
        in: path
        name: meter_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMeterResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get meter by ID
      tags:
      - V1Stripe
  /api/v1/stripe/config/prices/{price_id}:
    get:
      operationId: getPriceByID
      parameters:
      - explode: false
        in: path
        name: price_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPriceResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get price by ID
      tags:
      - V1Stripe
  /api/v1/stripe/config/prices/{price_id}/calculate:
    post:
      operationId: calculatePriceCost
      parameters:
      - explode: false
        in: path
        name: price_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalculatePriceCostRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalculatePriceCostResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Calculate cost for a price
      tags:
      - V1Stripe
  /api/v1/stripe/config/products/{product_id}:
    get:
      operationId: getProductByID
      parameters:
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get product by ID
      tags:
      - V1Stripe
  /api/v1/stripe/convert/stripe-id/{stripe_id}:
    get:
      operationId: convertStripeIDToConfigID
      parameters:
      - explode: false
        in: path
        name: stripe_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConvertStripeIDResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Convert Stripe ID to config ID
      tags:
      - V1Stripe
  /api/v1/stripe/schema:
    get:
      operationId: getStripeConfigSchema
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get Stripe config schema
      tags:
      - V1Configuration
  /api/v1/tenants:
    delete:
      operationId: deleteTenant
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTenantResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Delete the current tenant
      tags:
      - V1TenantsLifecycle
    post:
      operationId: createTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTenantResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Create a tenant
      tags:
      - V1TenantsLifecycle
  /api/v1/tenants/billing-status:
    get:
      operationId: getTenantBillingStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingStatusResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Get tenant billing status
      tags:
      - V1TenantsSubscriptions
  /api/v1/tenants/by-id/{tenant_id}:
    get:
      operationId: getTenantByID
      parameters:
      - explode: false
        in: path
        name: tenant_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTenantByIDRow"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Get tenant by ID
      tags:
      - V1TenantsLifecycle
  /api/v1/tenants/by-stripe-customer/{stripe_customer_id}:
    get:
      operationId: getTenantByStripeCustomerID
      parameters:
      - explode: false
        in: path
        name: stripe_customer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTenantByStripeCustomerIDRow"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - ServiceKeyAuth: []
      summary: Get tenant by Stripe customer ID
      tags:
      - V1TenantsLifecycle
  /api/v1/tenants/invites:
    post:
      operationId: createInvite
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Create a tenant invite
      tags:
      - V1TenantsInvites
  /api/v1/tenants/invites/accept:
    put:
      operationId: acceptInvite
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Accept a tenant invite
      tags:
      - V1TenantsInvites
  /api/v1/tenants/jwt:
    get:
      operationId: getTenantJWT
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JWTResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Get JWT for the current tenant
      tags:
      - V1TenantsLifecycle
  /api/v1/tenants/roles:
    get:
      operationId: listRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ListRolesByTenantRow"
                nullable: true
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: List roles for the tenant
      tags:
      - V1TenantsRoles
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoleRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRoleRow"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Create a role
      tags:
      - V1TenantsRoles
  /api/v1/tenants/roles/definitions:
    get:
      operationId: listRoleDefinitions
      parameters:
      - explode: false
        in: query
        name: subject
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/NamespaceDefinitionResponse"
                nullable: true
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: List role definitions
      tags:
      - V1TenantsRoles
  /api/v1/tenants/roles/{role_id}:
    delete:
      operationId: deleteRole
      parameters:
      - explode: false
        in: path
        name: role_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Delete a role
      tags:
      - V1TenantsRoles
    put:
      operationId: updateRole
      parameters:
      - explode: false
        in: path
        name: role_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRoleRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRolePermissionsRow"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Update a role
      tags:
      - V1TenantsRoles
  /api/v1/tenants/subscriptions:
    delete:
      operationId: removeSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Remove a subscription from the tenant
      tags:
      - V1TenantsSubscriptions
    get:
      operationId: listTenantSubscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SubscriptionResponse"
                nullable: true
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: List subscriptions for the tenant
      tags:
      - V1TenantsSubscriptions
    post:
      operationId: addSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Add a subscription to the tenant
      tags:
      - V1TenantsSubscriptions
  /api/v1/tenants/subscriptions/{config_price_id}:
    get:
      operationId: getTenantSubscription
      parameters:
      - explode: false
        in: path
        name: config_price_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Get a single tenant subscription
      tags:
      - V1TenantsSubscriptions
  /api/v1/tenants/switch-active:
    put:
      operationId: switchActiveTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchActiveRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwitchActiveResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Switch the active tenant
      tags:
      - V1TenantsLifecycle
  /api/v1/tenants/users:
    delete:
      operationId: removeTenantUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Remove a user from the tenant
      tags:
      - V1TenantsUsers
    get:
      operationId: listTenantUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/UserResponse"
                nullable: true
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: List users in the tenant
      tags:
      - V1TenantsUsers
    put:
      operationId: updateTenantUserRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRoleRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserRoleResponse"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - SessionTokenAuth: []
      - CookieAuth: []
      - ServiceKeyAuth: []
      summary: Update a tenant user's role
      tags:
      - V1TenantsUsers
components:
  schemas:
    AcceptRequest:
      additionalProperties: false
      example:
        token: token
      properties:
        token:
          type: string
      required:
      - token
    AcceptResponse:
      additionalProperties: false
      example:
        tenant_id: tenant_id
        message: message
        token: token
      properties:
        message:
          type: string
        tenant_id:
          type: string
        token:
          type: string
      required:
      - message
      - tenant_id
      - token
    ActiveTenantResponse:
      additionalProperties: false
      example:
        tenant:
          stripe_customer_id: stripe_customer_id
          updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: id
          enterprise_id: enterprise_id
          type: type
          enterprise_template: enterprise_template
      properties:
        tenant:
          $ref: "#/components/schemas/GetTenantByIDRow"
    AddLineItemByPriceRequest:
      additionalProperties: false
      example:
        metadata:
          key: metadata
        quantity: 0
        price_id: price_id
        description: description
        currency: currency
        stripe_price_id: stripe_price_id
      properties:
        currency:
          maxLength: 3
          minLength: 3
          type: string
        description:
          minLength: 1
          type: string
        metadata:
          additionalProperties:
            type: string
        price_id:
          type: string
        quantity:
          format: int64
          type: integer
        stripe_price_id:
          type: string
      required:
      - currency
      - description
      - quantity
    AddLineItemRequest:
      additionalProperties: false
      example:
        amount: 0
        description: description
        currency: currency
      properties:
        amount:
          format: int64
          type: integer
        currency:
          maxLength: 3
          minLength: 3
          type: string
        description:
          minLength: 1
          type: string
      required:
      - amount
      - currency
      - description
    AddRequest:
      additionalProperties: false
      example:
        stripe_customer_id: stripe_customer_id
        quantity: 0
        plan_id: plan_id
      properties:
        plan_id:
          minLength: 1
          type: string
        quantity:
          format: int64
          type: integer
        stripe_customer_id:
          minLength: 1
          type: string
      required:
      - plan_id
    AddResponse:
      additionalProperties: false
      example:
        subscription_id: subscription_id
        message: message
        status: status
      properties:
        message:
          type: string
        status:
          type: string
        subscription_id:
          type: string
      required:
      - message
      - status
      - subscription_id
    AppliedMigration:
      additionalProperties: false
      example:
        dirty: true
        version: 0
      properties:
        dirty:
          type: boolean
        version:
          format: int64
          type: integer
      required:
      - dirty
      - version
    ApplyEnterpriseCustomRequest:
      additionalProperties: false
      example:
        tenant_id: tenant_id
        enterprise_id: enterprise_id
      properties:
        enterprise_id:
          type: string
        tenant_id:
          type: string
      required:
      - enterprise_id
      - tenant_id
    ApplyEnterpriseTemplateRequest:
      additionalProperties: false
      example:
        tenant_id: tenant_id
        enterprise_template: enterprise_template
      properties:
        enterprise_template:
          type: string
        tenant_id:
          type: string
      required:
      - enterprise_template
      - tenant_id
    ApplyMigrationsResponse:
      additionalProperties: false
      example:
        message: message
        status: 0
      properties:
        message:
          type: string
        status:
          format: int64
          type: integer
      required:
      - message
      - status
    ArchiveAllResponse:
      additionalProperties: false
      example:
        total_archived: 0
        total_errors: 6
        warning: warning
        archived_items:
        - archived_items
        - archived_items
        archive_errors:
        - archive_errors
        - archive_errors
        message: message
      properties:
        archive_errors:
          items:
            type: string
          nullable: true
          type: array
        archived_items:
          items:
            type: string
          nullable: true
          type: array
        message:
          type: string
        total_archived:
          format: int64
          type: integer
        total_errors:
          format: int64
          type: integer
        warning:
          type: string
      required:
      - archive_errors
      - archived_items
      - message
      - total_archived
      - total_errors
    AuthTenantInvite:
      additionalProperties: false
      example:
        tenant_id: tenant_id
        used_at: 2000-01-23T04:56:07.000+00:00
        expires_at: 2000-01-23T04:56:07.000+00:00
        role: role
        inviter_id: inviter_id
        created_at: 2000-01-23T04:56:07.000+00:00
        id: id
        email: email
        token: token
      properties:
        created_at:
          format: date-time
          type: string
        email:
          type: string
        expires_at:
          format: date-time
          type: string
        id:
          type: string
        inviter_id:
          type: string
        role:
          type: string
        tenant_id:
          type: string
        token:
          type: string
        used_at:
          format: date-time
          nullable: true
          type: string
      required:
      - created_at
      - email
      - expires_at
      - id
      - inviter_id
      - role
      - tenant_id
      - token
      - used_at
    BillingStatusResponse:
      additionalProperties: false
      example:
        is_active: true
      properties:
        is_active:
          type: boolean
      required:
      - is_active
    CalculatePriceCostRequest:
      additionalProperties: false
      example:
        quantity: 0
      properties:
        quantity:
          format: int64
          minimum: 0
          type: integer
      required:
      - quantity
    CalculatePriceCostResponse:
      additionalProperties: false
      example:
        tiers_mode: tiers_mode
        cost_cents: 0
        quantity: 1
        price_id: price_id
        billing_scheme: billing_scheme
        currency: currency
        effective_unit_cost_cents: 6.027456183070403
      properties:
        billing_scheme:
          type: string
        cost_cents:
          format: int64
          type: integer
        currency:
          type: string
        effective_unit_cost_cents:
          format: double
          type: number
        price_id:
          type: string
        quantity:
          format: int64
          type: integer
        tiers_mode:
          type: string
      required:
      - billing_scheme
      - cost_cents
      - currency
      - effective_unit_cost_cents
      - price_id
      - quantity
    CheckRequest:
      additionalProperties: false
      example:
        namespace: namespace
        object: object
        relation: relation
        subject_set:
          namespace: namespace
          object: object
          relation: relation
      properties:
        namespace:
          minLength: 1
          type: string
        object:
          minLength: 1
          type: string
        relation:
          minLength: 1
          type: string
        subject_set:
          $ref: "#/components/schemas/SubjectSetRequest"
      required:
      - namespace
      - object
      - relation
      - subject_set
    CheckResponse:
      additionalProperties: false
      example:
        allowed: true
      properties:
        allowed:
          type: boolean
      required:
      - allowed
    ConfigChanges:
      additionalProperties: false
      example:
        promotion_codes:
          created:
          - code: code
            action: action
            promo_id: promo_id
            stripe_id: stripe_id
          - code: code
            action: action
            promo_id: promo_id
            stripe_id: stripe_id
          updated:
          - code: code
            action: action
            promo_id: promo_id
            stripe_id: stripe_id
          - code: code
            action: action
            promo_id: promo_id
            stripe_id: stripe_id
          deactivated:
          - code: code
            action: action
            promo_id: promo_id
            stripe_id: stripe_id
          - code: code
            action: action
            promo_id: promo_id
            stripe_id: stripe_id
        coupons:
          archived:
          - coupon_id: coupon_id
            name: name
            action: action
            stripe_id: stripe_id
          - coupon_id: coupon_id
            name: name
            action: action
            stripe_id: stripe_id
          created:
          - coupon_id: coupon_id
            name: name
            action: action
            stripe_id: stripe_id
          - coupon_id: coupon_id
            name: name
            action: action
            stripe_id: stripe_id
          updated:
          - coupon_id: coupon_id
            name: name
            action: action
            stripe_id: stripe_id
          - coupon_id: coupon_id
            name: name
            action: action
            stripe_id: stripe_id
        webhooks:
          created:
          - webhook_id: webhook_id
            action: action
            stripe_id: stripe_id
            url: url
          - webhook_id: webhook_id
            action: action
            stripe_id: stripe_id
            url: url
          unchanged:
          - webhook_id: webhook_id
            action: action
            stripe_id: stripe_id
            url: url
          - webhook_id: webhook_id
            action: action
            stripe_id: stripe_id
            url: url
          updated:
          - webhook_id: webhook_id
            action: action
            stripe_id: stripe_id
            url: url
          - webhook_id: webhook_id
            action: action
            stripe_id: stripe_id
            url: url
        prices:
          archived:
          - product_id: product_id
            price_id: price_id
            action: action
            stripe_id: stripe_id
          - product_id: product_id
            price_id: price_id
            action: action
            stripe_id: stripe_id
          created:
          - product_id: product_id
            price_id: price_id
            action: action
            stripe_id: stripe_id
          - product_id: product_id
            price_id: price_id
            action: action
            stripe_id: stripe_id
          updated:
          - product_id: product_id
            price_id: price_id
            action: action
            stripe_id: stripe_id
          - product_id: product_id
            price_id: price_id
            action: action
            stripe_id: stripe_id
        meters:
          archived:
          - action: action
            display_name: display_name
            meter_id: meter_id
            stripe_id: stripe_id
          - action: action
            display_name: display_name
            meter_id: meter_id
            stripe_id: stripe_id
          created:
          - action: action
            display_name: display_name
            meter_id: meter_id
            stripe_id: stripe_id
          - action: action
            display_name: display_name
            meter_id: meter_id
            stripe_id: stripe_id
          updated:
          - action: action
            display_name: display_name
            meter_id: meter_id
            stripe_id: stripe_id
          - action: action
            display_name: display_name
            meter_id: meter_id
            stripe_id: stripe_id
        products:
          archived:
          - product_id: product_id
            action: action
            details:
            - details
            - details
            product_name: product_name
            stripe_id: stripe_id
          - product_id: product_id
            action: action
            details:
            - details
            - details
            product_name: product_name
            stripe_id: stripe_id
          created:
          - product_id: product_id
            action: action
            details:
            - details
            - details
            product_name: product_name
            stripe_id: stripe_id
          - product_id: product_id
            action: action
            details:
            - details
            - details
            product_name: product_name
            stripe_id: stripe_id
          updated:
          - product_id: product_id
            action: action
            details:
            - details
            - details
            product_name: product_name
            stripe_id: stripe_id
          - product_id: product_id
            action: action
            details:
            - details
            - details
            product_name: product_name
            stripe_id: stripe_id
      properties:
        coupons:
          $ref: "#/components/schemas/CouponChanges"
        meters:
          $ref: "#/components/schemas/MeterChanges"
        prices:
          $ref: "#/components/schemas/PriceChanges"
        products:
          $ref: "#/components/schemas/ProductChanges"
        promotion_codes:
          $ref: "#/components/schemas/PromotionCodeChanges"
        webhooks:
          $ref: "#/components/schemas/WebhookChanges"
    ConfigHistoryItem:
      additionalProperties: false
      example:
        updated_at: updated_at
        parse_error: parse_error
        created_at: created_at
        id: id
        config:
          promotion_codes:
          - metadata:
              key: metadata
            code: code
            expires_at: 7
            first_time_transaction: true
            coupon: coupon
            max_redemptions: 1
            active: true
            minimum_amount_currency: minimum_amount_currency
            id: id
            minimum_amount: 1
            stripe_id: stripe_id
          - metadata:
              key: metadata
            code: code
            expires_at: 7
            first_time_transaction: true
            coupon: coupon
            max_redemptions: 1
            active: true
            minimum_amount_currency: minimum_amount_currency
            id: id
            minimum_amount: 1
            stripe_id: stripe_id
          coupons:
          - duration: duration
            duration_in_months: 6
            redeem_by: 5
            metadata:
              key: metadata
            applies_to:
            - applies_to
            - applies_to
            max_redemptions: 1
            name: name
            currency: currency
            percent_off: 5.962133916683182
            id: id
            stripe_id: stripe_id
            amount_off: 0
          - duration: duration
            duration_in_months: 6
            redeem_by: 5
            metadata:
              key: metadata
            applies_to:
            - applies_to
            - applies_to
            max_redemptions: 1
            name: name
            currency: currency
            percent_off: 5.962133916683182
            id: id
            stripe_id: stripe_id
            amount_off: 0
          version: version
          meters:
          - default_aggregation:
              formula: formula
            value_settings:
              event_payload_key: event_payload_key
            event_name: event_name
            customer_mapping:
              event_payload_key: event_payload_key
              type: type
            id: id
            display_name: display_name
            stripe_id: stripe_id
          - default_aggregation:
              formula: formula
            value_settings:
              event_payload_key: event_payload_key
            event_name: event_name
            customer_mapping:
              event_payload_key: event_payload_key
              type: type
            id: id
            display_name: display_name
            stripe_id: stripe_id
          products:
          - ui:
              badge: badge
              features:
              - features
              - features
              cta_text: cta_text
              highlighted: true
              tagline: tagline
              display_name: display_name
              sort_order: 4
            name: name
            description: description
            id: id
            prices:
            - interval_count: 7
              amount: 2.3021358869347655
              tiers:
              - flat_amount: 9
                up_to: ""
                unit_amount: 3
              - flat_amount: 9
                up_to: ""
                unit_amount: 3
              meter: meter
              billing_scheme: billing_scheme
              enterprise_id: enterprise_id
              enterprise_template: enterprise_template
              tiers_mode: tiers_mode
              default: true
              public: true
              ui:
                billing_period: billing_period
                features:
                - features
                - features
                price_display:
                  show_currency: true
                  custom_text: custom_text
                  suffix: suffix
                display_name: display_name
                limits:
                - unit: unit
                  text: text
                  value: 2.027123023002322
                - unit: unit
                  text: text
                  value: 2.027123023002322
              usage_type: usage_type
              currency: currency
              interval: interval
              id: id
              tax_included_in_price: true
              stripe_id: stripe_id
            - interval_count: 7
              amount: 2.3021358869347655
              tiers:
              - flat_amount: 9
                up_to: ""
                unit_amount: 3
              - flat_amount: 9
                up_to: ""
                unit_amount: 3
              meter: meter
              billing_scheme: billing_scheme
              enterprise_id: enterprise_id
              enterprise_template: enterprise_template
              tiers_mode: tiers_mode
              default: true
              public: true
              ui:
                billing_period: billing_period
                features:
                - features
                - features
                price_display:
                  show_currency: true
                  custom_text: custom_text
                  suffix: suffix
                display_name: display_name
                limits:
                - unit: unit
                  text: text
                  value: 2.027123023002322
                - unit: unit
                  text: text
                  value: 2.027123023002322
              usage_type: usage_type
              currency: currency
              interval: interval
              id: id
              tax_included_in_price: true
              stripe_id: stripe_id
            type: type
            stripe_id: stripe_id
          - ui:
              badge: badge
              features:
              - features
              - features
              cta_text: cta_text
              highlighted: true
              tagline: tagline
              display_name: display_name
              sort_order: 4
            name: name
            description: description
            id: id
            prices:
            - interval_count: 7
              amount: 2.3021358869347655
              tiers:
              - flat_amount: 9
                up_to: ""
                unit_amount: 3
              - flat_amount: 9
                up_to: ""
                unit_amount: 3
              meter: meter
              billing_scheme: billing_scheme
              enterprise_id: enterprise_id
              enterprise_template: enterprise_template
              tiers_mode: tiers_mode
              default: true
              public: true
              ui:
                billing_period: billing_period
                features:
                - features
                - features
                price_display:
                  show_currency: true
                  custom_text: custom_text
                  suffix: suffix
                display_name: display_name
                limits:
                - unit: unit
                  text: text
                  value: 2.027123023002322
                - unit: unit
                  text: text
                  value: 2.027123023002322
              usage_type: usage_type
              currency: currency
              interval: interval
              id: id
              tax_included_in_price: true
              stripe_id: stripe_id
            - interval_count: 7
              amount: 2.3021358869347655
              tiers:
              - flat_amount: 9
                up_to: ""
                unit_amount: 3
              - flat_amount: 9
                up_to: ""
                unit_amount: 3
              meter: meter
              billing_scheme: billing_scheme
              enterprise_id: enterprise_id
              enterprise_template: enterprise_template
              tiers_mode: tiers_mode
              default: true
              public: true
              ui:
                billing_period: billing_period
                features:
                - features
                - features
                price_display:
                  show_currency: true
                  custom_text: custom_text
                  suffix: suffix
                display_name: display_name
                limits:
                - unit: unit
                  text: text
                  value: 2.027123023002322
                - unit: unit
                  text: text
                  value: 2.027123023002322
              usage_type: usage_type
              currency: currency
              interval: interval
              id: id
              tax_included_in_price: true
              stripe_id: stripe_id
            type: type
            stripe_id: stripe_id
        version: version
      properties:
        config:
          $ref: "#/components/schemas/StripeConfigurationWithIDs"
        created_at:
          type: string
        id:
          type: string
        parse_error:
          type: string
        updated_at:
          type: string
        version:
          type: string
      required:
      - config
      - created_at
      - id
      - updated_at
      - version
    ConfigHistoryPagination:
      additionalProperties: false
      example:
        per_page: 6
        total: 1
        has_next: true
        has_prev: true
        page: 0
        total_pages: 5
      properties:
        has_next:
          type: boolean
        has_prev:
          type: boolean
        page:
          format: int64
          type: integer
        per_page:
          format: int64
          type: integer
        total:
          format: int64
          type: integer
        total_pages:
          format: int64
          type: integer
      required:
      - has_next
      - has_prev
      - page
      - per_page
      - total
      - total_pages
    ConfigHistoryResponse:
      additionalProperties: false
      example:
        configs:
        - updated_at: updated_at
          parse_error: parse_error
          created_at: created_at
          id: id
          config:
            promotion_codes:
            - metadata:
                key: metadata
              code: code
              expires_at: 7
              first_time_transaction: true
              coupon: coupon
              max_redemptions: 1
              active: true
              minimum_amount_currency: minimum_amount_currency
              id: id
              minimum_amount: 1
              stripe_id: stripe_id
            - metadata:
                key: metadata
              code: code
              expires_at: 7
              first_time_transaction: true
              coupon: coupon
              max_redemptions: 1
              active: true
              minimum_amount_currency: minimum_amount_currency
              id: id
              minimum_amount: 1
              stripe_id: stripe_id
            coupons:
            - duration: duration
              duration_in_months: 6
              redeem_by: 5
              metadata:
                key: metadata
              applies_to:
              - applies_to
              - applies_to
              max_redemptions: 1
              name: name
              currency: currency
              percent_off: 5.962133916683182
              id: id
              stripe_id: stripe_id
              amount_off: 0
            - duration: duration
              duration_in_months: 6
              redeem_by: 5
              metadata:
                key: metadata
              applies_to:
              - applies_to
              - applies_to
              max_redemptions: 1
              name: name
              currency: currency
              percent_off: 5.962133916683182
              id: id
              stripe_id: stripe_id
              amount_off: 0
            version: version
            meters:
            - default_aggregation:
                formula: formula
              value_settings:
                event_payload_key: event_payload_key
              event_name: event_name
              customer_mapping:
                event_payload_key: event_payload_key
                type: type
              id: id
              display_name: display_name
              stripe_id: stripe_id
            - default_aggregation:
                formula: formula
              value_settings:
                event_payload_key: event_payload_key
              event_name: event_name
              customer_mapping:
                event_payload_key: event_payload_key
                type: type
              id: id
              display_name: display_name
              stripe_id: stripe_id
            products:
            - ui:
                badge: badge
                features:
                - features
                - features
                cta_text: cta_text
                highlighted: true
                tagline: tagline
                display_name: display_name
                sort_order: 4
              name: name
              description: description
              id: id
              prices:
              - interval_count: 7
                amount: 2.3021358869347655
                tiers:
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                meter: meter
                billing_scheme: billing_scheme
                enterprise_id: enterprise_id
                enterprise_template: enterprise_template
                tiers_mode: tiers_mode
                default: true
                public: true
                ui:
                  billing_period: billing_period
                  features:
                  - features
                  - features
                  price_display:
                    show_currency: true
                    custom_text: custom_text
                    suffix: suffix
                  display_name: display_name
                  limits:
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                usage_type: usage_type
                currency: currency
                interval: interval
                id: id
                tax_included_in_price: true
                stripe_id: stripe_id
              - interval_count: 7
                amount: 2.3021358869347655
                tiers:
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                meter: meter
                billing_scheme: billing_scheme
                enterprise_id: enterprise_id
                enterprise_template: enterprise_template
                tiers_mode: tiers_mode
                default: true
                public: true
                ui:
                  billing_period: billing_period
                  features:
                  - features
                  - features
                  price_display:
                    show_currency: true
                    custom_text: custom_text
                    suffix: suffix
                  display_name: display_name
                  limits:
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                usage_type: usage_type
                currency: currency
                interval: interval
                id: id
                tax_included_in_price: true
                stripe_id: stripe_id
              type: type
              stripe_id: stripe_id
            - ui:
                badge: badge
                features:
                - features
                - features
                cta_text: cta_text
                highlighted: true
                tagline: tagline
                display_name: display_name
                sort_order: 4
              name: name
              description: description
              id: id
              prices:
              - interval_count: 7
                amount: 2.3021358869347655
                tiers:
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                meter: meter
                billing_scheme: billing_scheme
                enterprise_id: enterprise_id
                enterprise_template: enterprise_template
                tiers_mode: tiers_mode
                default: true
                public: true
                ui:
                  billing_period: billing_period
                  features:
                  - features
                  - features
                  price_display:
                    show_currency: true
                    custom_text: custom_text
                    suffix: suffix
                  display_name: display_name
                  limits:
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                usage_type: usage_type
                currency: currency
                interval: interval
                id: id
                tax_included_in_price: true
                stripe_id: stripe_id
              - interval_count: 7
                amount: 2.3021358869347655
                tiers:
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                meter: meter
                billing_scheme: billing_scheme
                enterprise_id: enterprise_id
                enterprise_template: enterprise_template
                tiers_mode: tiers_mode
                default: true
                public: true
                ui:
                  billing_period: billing_period
                  features:
                  - features
                  - features
                  price_display:
                    show_currency: true
                    custom_text: custom_text
                    suffix: suffix
                  display_name: display_name
                  limits:
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                usage_type: usage_type
                currency: currency
                interval: interval
                id: id
                tax_included_in_price: true
                stripe_id: stripe_id
              type: type
              stripe_id: stripe_id
          version: version
        - updated_at: updated_at
          parse_error: parse_error
          created_at: created_at
          id: id
          config:
            promotion_codes:
            - metadata:
                key: metadata
              code: code
              expires_at: 7
              first_time_transaction: true
              coupon: coupon
              max_redemptions: 1
              active: true
              minimum_amount_currency: minimum_amount_currency
              id: id
              minimum_amount: 1
              stripe_id: stripe_id
            - metadata:
                key: metadata
              code: code
              expires_at: 7
              first_time_transaction: true
              coupon: coupon
              max_redemptions: 1
              active: true
              minimum_amount_currency: minimum_amount_currency
              id: id
              minimum_amount: 1
              stripe_id: stripe_id
            coupons:
            - duration: duration
              duration_in_months: 6
              redeem_by: 5
              metadata:
                key: metadata
              applies_to:
              - applies_to
              - applies_to
              max_redemptions: 1
              name: name
              currency: currency
              percent_off: 5.962133916683182
              id: id
              stripe_id: stripe_id
              amount_off: 0
            - duration: duration
              duration_in_months: 6
              redeem_by: 5
              metadata:
                key: metadata
              applies_to:
              - applies_to
              - applies_to
              max_redemptions: 1
              name: name
              currency: currency
              percent_off: 5.962133916683182
              id: id
              stripe_id: stripe_id
              amount_off: 0
            version: version
            meters:
            - default_aggregation:
                formula: formula
              value_settings:
                event_payload_key: event_payload_key
              event_name: event_name
              customer_mapping:
                event_payload_key: event_payload_key
                type: type
              id: id
              display_name: display_name
              stripe_id: stripe_id
            - default_aggregation:
                formula: formula
              value_settings:
                event_payload_key: event_payload_key
              event_name: event_name
              customer_mapping:
                event_payload_key: event_payload_key
                type: type
              id: id
              display_name: display_name
              stripe_id: stripe_id
            products:
            - ui:
                badge: badge
                features:
                - features
                - features
                cta_text: cta_text
                highlighted: true
                tagline: tagline
                display_name: display_name
                sort_order: 4
              name: name
              description: description
              id: id
              prices:
              - interval_count: 7
                amount: 2.3021358869347655
                tiers:
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                meter: meter
                billing_scheme: billing_scheme
                enterprise_id: enterprise_id
                enterprise_template: enterprise_template
                tiers_mode: tiers_mode
                default: true
                public: true
                ui:
                  billing_period: billing_period
                  features:
                  - features
                  - features
                  price_display:
                    show_currency: true
                    custom_text: custom_text
                    suffix: suffix
                  display_name: display_name
                  limits:
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                usage_type: usage_type
                currency: currency
                interval: interval
                id: id
                tax_included_in_price: true
                stripe_id: stripe_id
              - interval_count: 7
                amount: 2.3021358869347655
                tiers:
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                meter: meter
                billing_scheme: billing_scheme
                enterprise_id: enterprise_id
                enterprise_template: enterprise_template
                tiers_mode: tiers_mode
                default: true
                public: true
                ui:
                  billing_period: billing_period
                  features:
                  - features
                  - features
                  price_display:
                    show_currency: true
                    custom_text: custom_text
                    suffix: suffix
                  display_name: display_name
                  limits:
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                usage_type: usage_type
                currency: currency
                interval: interval
                id: id
                tax_included_in_price: true
                stripe_id: stripe_id
              type: type
              stripe_id: stripe_id
            - ui:
                badge: badge
                features:
                - features
                - features
                cta_text: cta_text
                highlighted: true
                tagline: tagline
                display_name: display_name
                sort_order: 4
              name: name
              description: description
              id: id
              prices:
              - interval_count: 7
                amount: 2.3021358869347655
                tiers:
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                meter: meter
                billing_scheme: billing_scheme
                enterprise_id: enterprise_id
                enterprise_template: enterprise_template
                tiers_mode: tiers_mode
                default: true
                public: true
                ui:
                  billing_period: billing_period
                  features:
                  - features
                  - features
                  price_display:
                    show_currency: true
                    custom_text: custom_text
                    suffix: suffix
                  display_name: display_name
                  limits:
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                usage_type: usage_type
                currency: currency
                interval: interval
                id: id
                tax_included_in_price: true
                stripe_id: stripe_id
              - interval_count: 7
                amount: 2.3021358869347655
                tiers:
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                - flat_amount: 9
                  up_to: ""
                  unit_amount: 3
                meter: meter
                billing_scheme: billing_scheme
                enterprise_id: enterprise_id
                enterprise_template: enterprise_template
                tiers_mode: tiers_mode
                default: true
                public: true
                ui:
                  billing_period: billing_period
                  features:
                  - features
                  - features
                  price_display:
                    show_currency: true
                    custom_text: custom_text
                    suffix: suffix
                  display_name: display_name
                  limits:
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                  - unit: unit
                    text: text
                    value: 2.027123023002322
                usage_type: usage_type
                currency: currency
                interval: interval
                id: id
                tax_included_in_price: true
                stripe_id: stripe_id
              type: type
              stripe_id: stripe_id
          version: version
        pagination:
          per_page: 6
          total: 1
          has_next: true
          has_prev: true
          page: 0
          total_pages: 5
      properties:
        configs:
          items:
            $ref: "#/components/schemas/ConfigHistoryItem"
          nullable: true
          type: array
        pagination:
          $ref: "#/components/schemas/ConfigHistoryPagination"
      required:
      - configs
      - pagination
    ConfigResponse:
      additionalProperties: false
      example:
        changes:
          promotion_codes:
            created:
            - code: code
              action: action
              promo_id: promo_id
              stripe_id: stripe_id
            - code: code
              action: action
              promo_id: promo_id
              stripe_id: stripe_id
            updated:
            - code: code
              action: action
              promo_id: promo_id
              stripe_id: stripe_id
            - code: code
              action: action
              promo_id: promo_id
              stripe_id: stripe_id
            deactivated:
            - code: code
              action: action
              promo_id: promo_id
              stripe_id: stripe_id
            - code: code
              action: action
              promo_id: promo_id
              stripe_id: stripe_id
          coupons:
            archived:
            - coupon_id: coupon_id
              name: name
              action: action
              stripe_id: stripe_id
            - coupon_id: coupon_id
              name: name
              action: action
              stripe_id: stripe_id
            created:
            - coupon_id: coupon_id
              name: name
              action: action
              stripe_id: stripe_id
            - coupon_id: coupon_id
              name: name
              action: action
              stripe_id: stripe_id
            updated:
            - coupon_id: coupon_id
              name: name
              action: action
              stripe_id: stripe_id
            - coupon_id: coupon_id
              name: name
              action: action
              stripe_id: stripe_id
          webhooks:
            created:
            - webhook_id: webhook_id
              action: action
              stripe_id: stripe_id
              url: url
            - webhook_id: webhook_id
              action: action
              stripe_id: stripe_id
              url: url
            unchanged:
            - webhook_id: webhook_id
              action: action
              stripe_id: stripe_id
              url: url
            - webhook_id: webhook_id
              action: action
              stripe_id: stripe_id
              url: url
            updated:
            - webhook_id: webhook_id
              action: action
              stripe_id: stripe_id
              url: url
            - webhook_id: webhook_id
[...]
