/*
Omnibase REST API

Self-hostable Backend-as-a-Service providing database management, authentication, payments, storage, and email services.  ## Features - **Database**: PostgreSQL with RLS and migrations - **Authentication**: Ory Kratos integration with session management - **Payments**: Stripe integration with version-controlled billing configs - **Storage**: S3-compatible object storage with RLS - **Email**: Transactional email service - **Permissions**: Fine-grained access control via Ory Keto  ## Authentication Most endpoints require authentication via session cookies or JWT tokens. Use the appropriate security scheme based on the endpoint requirements.

API version: 0.9.0
Contact: support@omnibase.dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omnibase

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// DatabaseAPIService DatabaseAPI service
type DatabaseAPIService service

type ApiUploadDatabaseMigrationsRequest struct {
	ctx context.Context
	ApiService *DatabaseAPIService
	migrations *os.File
}

// Zip file containing SQL migration files
func (r ApiUploadDatabaseMigrationsRequest) Migrations(migrations *os.File) ApiUploadDatabaseMigrationsRequest {
	r.migrations = migrations
	return r
}

func (r ApiUploadDatabaseMigrationsRequest) Execute() (*V1MigrationSuccessResponse, *http.Response, error) {
	return r.ApiService.UploadDatabaseMigrationsExecute(r)
}

/*
UploadDatabaseMigrations Upload database migrations

Uploads SQL migration files and applies them to the user's PostgreSQL database.

## Authentication
Requires JWT token (typically used by CLI tools, not browser sessions).

## Migration Format
Upload a zip file containing SQL files named like: `001-seed.sql`, `002-rls.sql`, etc.
Files are automatically renamed to golang-migrate format: `001_seed.up.sql`, `002_rls.up.sql`.

## Use Cases
- CLI migration uploads via `omnibase db migration push`
- CI/CD pipeline integrations
- Programmatic schema management

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUploadDatabaseMigrationsRequest
*/
func (a *DatabaseAPIService) UploadDatabaseMigrations(ctx context.Context) ApiUploadDatabaseMigrationsRequest {
	return ApiUploadDatabaseMigrationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1MigrationSuccessResponse
func (a *DatabaseAPIService) UploadDatabaseMigrationsExecute(r ApiUploadDatabaseMigrationsRequest) (*V1MigrationSuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1MigrationSuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatabaseAPIService.UploadDatabaseMigrations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/database/migrations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.migrations == nil {
		return localVarReturnValue, nil, reportError("migrations is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var migrationsLocalVarFormFileName string
	var migrationsLocalVarFileName     string
	var migrationsLocalVarFileBytes    []byte

	migrationsLocalVarFormFileName = "migrations"
	migrationsLocalVarFile := r.migrations

	if migrationsLocalVarFile != nil {
		fbs, _ := io.ReadAll(migrationsLocalVarFile)

		migrationsLocalVarFileBytes = fbs
		migrationsLocalVarFileName = migrationsLocalVarFile.Name()
		migrationsLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: migrationsLocalVarFileBytes, fileName: migrationsLocalVarFileName, formFileName: migrationsLocalVarFormFileName})
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v V1MigrationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HandlersUnauthorizedResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v HandlersInternalServerErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
