/*
Omnibase REST API

Self-hostable Backend-as-a-Service providing database management, authentication, payments, storage, and email services.  ## Features - **Database**: PostgreSQL with RLS and migrations - **Authentication**: Ory Kratos integration with session management - **Payments**: Stripe integration with version-controlled billing configs - **Storage**: S3-compatible object storage with RLS - **Email**: Transactional email service - **Permissions**: Fine-grained access control  ## Authentication Most endpoints require authentication via session cookies or JWT tokens. Use the appropriate security scheme based on the endpoint requirements. 

API version: 0.12.6
Contact: support@omnibase.dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omnibase

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// V1EventsAPIService V1EventsAPI service
type V1EventsAPIService service

type ApiConnectWebSocketRequest struct {
	ctx context.Context
	ApiService *V1EventsAPIService
}

func (r ApiConnectWebSocketRequest) Execute() (*http.Response, error) {
	return r.ApiService.ConnectWebSocketExecute(r)
}

/*
ConnectWebSocket WebSocket connection for real-time events

WebSocket endpoint for receiving real-time database change notifications with Row-Level Security (RLS) enforcement.

## Connection Details
- Protocol: WebSocket
- Upgrade from HTTP GET request

## Authentication
Session authentication via JWT token sent in subscription messages.

## Message Format
**Subscribe to changes:**
```json
{
  "action": "subscribe",
  "subscription": {
    "table": "projects",
    "row_id": "project_test_123",
    "columns": ["name", "status"],
    "jwt": "eyJhbGciOiJIUzI1NiIs..."
  }
}
```

**Unsubscribe:**
```json
{
  "action": "unsubscribe",
  "subscription": {
    "table": "projects",
    "row_id": "project_test_123"
  }
}
```

**Received updates:**
```json
{
  "type": "update",
  "table": "projects",
  "row_id": "project_test_123",
  "data": {
    "name": "Updated Project",
    "status": "active"
  }
}
```

## RLS Enforcement
- Access checked via PostgREST using provided JWT
- Only changes to accessible rows are broadcast
- Re-validates access on each change notification

## Use Cases
- Real-time collaboration features
- Live data synchronization
- Notification systems
- Activity feeds


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConnectWebSocketRequest
*/
func (a *V1EventsAPIService) ConnectWebSocket(ctx context.Context) ApiConnectWebSocketRequest {
	return ApiConnectWebSocketRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *V1EventsAPIService) ConnectWebSocketExecute(r ApiConnectWebSocketRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1EventsAPIService.ConnectWebSocket")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v NotFoundResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
